Implementation Plan. Part 1 - for the universe
1. things to crawl to filter or create a portfolio universe
   - 시가총액(Market Capitalization a.k.a "market cap")
   - "BV" (Book Value, Asset - Liability = SH's Equity)
   - PBR(Price-to-Book Ratio, 주가순자산비율)
   - 상장주식수

In [1]:
#Import packages
import requests 
from bs4 import BeautifulSoup

import numpy as np
import pandas as pd

In [6]:
# Crawler Building
# setting URL

url = "http://finance.naver.com/sise/field_submit.nhn?menu=market_sum&returnUrl=http%3A%2F%2Ffinance.naver.com%2Fsise%2Fsise_market_sum.nhn%3Fsosok%3D{0}%26page%3D{1}&fieldIds={2}&fieldIds={3}&fieldIds={4}&fieldIds={5}&fieldIds={6}&fieldIds={7}".format('0',
                                                                                                                                                                                                                                                             '1', 
                                                                                                                                                                                                                                                             'quant',
                                                                                                                                                                                                                                                             'listed_stock_cnt',
                                                                                                                                                                                                                                                             'market_sum',
                                                                                                                                                                                                                                                             'property_total',
                                                                                                                                                                                                                                                             'debt_total',
                                                                                                                                                                                                                                                             'pbr')
"""options to choose 
   1. 거래량 : 'quant'
   2. 시가 : 'open_val'
   3. 고가 : 'high_val'
   4. 저가 : 'loq_val' 
   5. 매수호가 : 'ask_buy'
   6. 매도호가 : 'ask_sell' 
   7. 매수총잔량 : 'buy_total'
   8. 매도총잔량 : 'sell_total'
   9. 거래대금(백만) : 'amount' 
   10. 전일거래량 : 'prev_quant'
   11. 외국인비율 : 'frgn_rate'
   12. 상장주식수(천주) : 'listed_stock_cnt'
   13. 시가총액(억) : 'market_sum'
   14. 자산총계(억) : 'property_total'
   15. 부채총계(억) : 'debt_total' 
   16. 매출액(억) : 'sales'
   17. 매출액증가율 : 'sales_increasing_rate'
   18. 영업이익(억) : 'operating_profit'
   19. 영업이익증가율 : 'operating_profit_increasing_rate' 
   20. 당기순이익(억) : 'net_income'
   21. 주당순이익(원) : 'eps'
   22. 보통주배당금(원) : 'dividend'
   23. PER(배) : 'per'
   24. ROE(%) : 'roe'
   25. ROA(%) : 'roa'
   26. PBR(배) : 'pbr'
   27. 유보율(%) : 'reserve_ratio'
   """

"options to choose \n   1. 거래량 : 'quant'\n   2. 시가 : 'open_val'\n   3. 고가 : 'high_val'\n   4. 저가 : 'loq_val' \n   5. 매수호가 : 'ask_buy'\n   6. 매도호가 : 'ask_sell' \n   7. 매수총잔량 : 'buy_total'\n   8. 매도총잔량 : 'sell_total'\n   9. 거래대금(백만) : 'amount' \n   10. 전일거래량 : 'prev_quant'\n   11. 외국인비율 : 'frgn_rate'\n   12. 상장주식수(천주) : 'listed_stock_cnt'\n   13. 시가총액(억) : 'market_sum'\n   14. 자산총계(억) : 'property_total'\n   15. 부채총계(억) : 'debt_total' \n   16. 매출액(억) : 'sales'\n   17. 매출액증가율 : 'sales_increasing_rate'\n   18. 영업이익(억) : 'operating_profit'\n   19. 영업이익증가율 : 'operating_profit_increasing_rate' \n   20. 당기순이익(억) : 'net_income'\n   21. 주당순이익(원) : 'eps'\n   22. 보통주배당금(원) : 'dividend'\n   23. PER(배) : 'per'\n   24. ROE(%) : 'roe'\n   25. ROA(%) : 'roa'\n   26. PBR(배) : 'pbr'\n   27. 유보율(%) : 'reserve_ratio'\n   "

In [7]:
# Requests
req = requests.get(url)
html = req.text

In [8]:
# BeautifulSoup - Making the soup
soup = BeautifulSoup(html, 'lxml')

In [9]:
soup.select('table.type_2 a[href]')

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a href="/item/board.nhn?code=005930"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a href="/item/board.nhn?code=000660"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a href="/item/board.nhn?code=005935"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a href="/item/board.nhn?code=005380"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a href="/item/board.nhn?code=005490"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a href="/item/board.nhn?code=015760"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a href="/item/board.nhn?code=035420"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a href="/item/board.nhn?code=028260"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a href="/item/board.nhn?code=051910"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a href="/item/board.nhn?code=055550"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a href="/item/board.nhn?code=012330"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a href="/item/board.nhn?code=032830"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a href="/item/board.nhn?code=105560"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a href="/item/board.nhn?code=017670"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a href="/item/board.nhn?code=034730"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a href="/item/board.nhn?code=207940"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a href="/item/board.nhn?code=090430"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a href="/item/board.nhn?code=096770"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a href="/item/board.nhn?code=033780"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a href="/item/board.nhn?code=051900"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a href="/item/board.nhn?code=086790"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a href="/item/board.nhn?code=000270"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a href="/item/board.nhn?code=003550"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a href="/item/board.nhn?code=000810"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a href="/item/board.nhn?code=011170"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a href="/item/board.nhn?code=018260"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a href="/item/board.nhn?code=010950"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a href="/item/board.nhn?code=000030"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a href="/item/board.nhn?code=006400"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a href="/item/board.nhn?code=066570"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a href="/item/board.nhn?code=251270"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a href="/item/board.nhn?code=034220"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a href="/item/board.nhn?code=002790"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a href="/item/board.nhn?code=010130"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a href="/item/board.nhn?code=009540"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a href="/item/board.nhn?code=024110"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a href="/item/board.nhn?code=030200"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a href="/item/board.nhn?code=023530"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a href="/item/board.nhn?code=036570"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a href="/item/board.nhn?code=004020"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a href="/item/board.nhn?code=035720"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a href="/item/board.nhn?code=035250"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a href="/item/board.nhn?code=161390"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a href="/item/board.nhn?code=021240"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a href="/item/board.nhn?code=009150"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a href="/item/board.nhn?code=267250"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a href="/item/board.nhn?code=006800"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=032640">LG유플러스</a>,
 <a href="/item/board.nhn?code=032640"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=139480">이마트</a>,
 <a href="/item/board.nhn?code=139480"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=088350">한화생명</a>,
 <a href="/item/board.nhn?code=088350"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>]

In [10]:
soup.find_all('a', 'tltle')

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a class="tltle" href="/item/main.nhn?code=032640">LG유플러스</a>,
 <a class="tltle" href="/item/main.nhn?code=139480">이마트</a>,
 <a class="tltle" href="/item/main.nhn?code=088350">한화생명</a>]

In [11]:
import re
soup.find_all(href = re.compile("/item/main.nhn?"))

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a class="tltle" href="/item/main.nhn?code=032640">LG유플러스</a>,
 <a class="tltle" href="/item/main.nhn?code=139480">이마트</a>,
 <a class="tltle" href="/item/main.nhn?code=088350">한화생명</a>]

In [12]:
a = '<a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>'
a.strip('"<>/a').split('=')[-1].split('">')

['000030', '우리은행']

In [13]:
soup.select('a[href*="/item/main.nhn"], td[class^="number"]')

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a class="tltle" href="/item/main.nhn?code=032640">LG유플러스</a>,
 <a class="tltle" href="/item/main.nhn?code=139480">이마트</a>,
 <a class="tltle" href="/item/main.nhn?code=088350">한화생명</a>,
 <td class="number">2,345,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				7,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.30%
 				</span>
 </td>,
 <td class="number">5,000</td>,
 <td class="number">200,007</td>,
 <td class="number">129,768</td>,
 <td class="number">3,043,071</td>,
 <td class="number">2,621,743</td>,
 <td class="number">692,113</td>,
 <td class="number">1.76</td>,
 <td class="number">67,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				600
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.90%
 				</span>
 </td>,
 <td class="number">3,119,691</td>,
 <td class="number">728,002</td>,
 <td class="number">487,762</td>,
 <td class="number">322,160</td>,
 <td class="number">81,925</td>,
 <td class="number">1.97</td>,
 <td class="number">1,937,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				4,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.21%
 				</span>
 </td>,
 <td class="number">14,815</td>,
 <td class="number">18,419</td>,
 <td class="number">356,768</td>,
 <td class="number">N/A</td>,
 <td class="number">1.45</td>,
 <td class="number">144,500</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.35%
 				</span>
 </td>,
 <td class="number">252,357</td>,
 <td class="number">220,276</td>,
 <td class="number">318,300</td>,
 <td class="number">1,788,359</td>,
 <td class="number">1,064,914</td>,
 <td class="number">0.58</td>,
 <td class="number">330,500</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				3,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.90%
 				</span>
 </td>,
 <td class="number">110,607</td>,
 <td class="number">87,187</td>,
 <td class="number">288,152</td>,
 <td class="number">797,630</td>,
 <td class="number">339,246</td>,
 <td class="number">0.62</td>,
 <td class="number">44,850</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				550
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.24%
 				</span>
 </td>,
 <td class="number">1,346,020</td>,
 <td class="number">641,964</td>,
 <td class="number">287,921</td>,
 <td class="number">1,778,370</td>,
 <td class="number">1,047,865</td>,
 <td class="number">0.40</td>,
 <td class="number">784,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				7,000
 				</span>
 </td>,
 <td class="number">500</td>,
 <td class="number">43,242</td>,
 <td class="number">32,963</td>,
 <td class="number">258,427</td>,
 <td class="number">63,706</td>,
 <td class="number">22,410</td>,
 <td class="number">6.28</td>,
 <td class="number">133,500</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.74%
 				</span>
 </td>,
 <td class="number">100</td>,
 <td class="number">164,907</td>,
 <td class="number">189,690</td>,
 <td class="number">253,236</td>,
 <td class="number">444,585</td>,
 <td class="number">233,528</td>,
 <td class="number">1.20</td>,
 <td class="number">349,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				5,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.60%
 				</span>
 </td>,
 <td class="number">153,737</td>,
 <td class="number">70,592</td>,
 <td class="number">246,367</td>,
 <td class="number">204,871</td>,
 <td class="number">64,361</td>,
 <td class="number">1.81</td>,
 <td class="number">51,900</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				700
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.33%
 				</span>
 </td>,
 <td class="number">756,928</td>,
 <td class="number">474,200</td>,
 <td class="number">246,110</td>,
 <td class="number">3,956,803</td>,
 <td class="number">3,639,353</td>,
 <td class="number">0.79</td>,
 <td class="number">246,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.41%
 				</span>
 </td>,
 <td class="number">66,873</td>,
 <td class="number">97,344</td>,
 <td class="number">239,466</td>,
 <td class="number">417,116</td>,
 <td class="number">131,536</td>,
 <td class="number">0.82</td>,
 <td class="number">119,500</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.65%
 				</span>
 </td>,
 <td class="number">245,435</td>,
 <td class="number">200,000</td>,
 <td class="number">239,000</td>,
 <td class="number">2,646,538</td>,
 <td class="number">2,363,454</td>,
 <td class="number">0.81</td>,
 <td class="number">56,500</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.88%
 				</span>
 </td>,
 <td class="number">448,299</td>,
 <td class="number">418,112</td>,
 <td class="number">236,233</td>,
 <td class="number">3,756,737</td>,
 <td class="number">3,444,123</td>,
 <td class="number">0.73</td>,
 <td class="number">260,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				4,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.52%
 				</span>
 </td>,
 <td class="number">235,295</td>,
 <td class="number">80,746</td>,
 <td class="number">209,939</td>,
 <td class="number">312,977</td>,
 <td class="number">151,812</td>,
 <td class="number">1.15</td>,
 <td class="number">269,000</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.37%
 				</span>
 </td>,
 <td class="number">200</td>,
 <td class="number">85,360</td>,
 <td class="number">70,360</td>,
 <td class="number">189,269</td>,
 <td class="number">1,030,473</td>,
 <td class="number">607,206</td>,
 <td class="number">1.16</td>,
 <td class="number">273,000</td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.37%
 				</span>
 </td>,
 <td class="number">2,500</td>,
 <td class="number">88,300</td>,
 <td class="number">66,165</td>,
 <td class="number">180,630</td>,
 <td class="number">75,330</td>,
 <td class="number">34,506</td>,
 <td class="number">4.42</td>,
 <td class="number">280,000</td>,
 <td class="number">
 <span class="tah p11">0</span>
 </td>,
 <td class="number">
 <span class="tah p11">0.00%</span>
 </td>,
 <td class="number">55,302</td>,
 <td class="number">58,458</td>,
 <td class="number">163,684</td>,
 <td class="number">51,816</td>,
 <td class="number">12,849</td>,
 <td class="number">4.98</td>,
 <td class="number">170,500</td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.29%
 				</span>
 </td>,
 <td class="number">146,660</td>,
 <td class="number">92,466</td>,
 <td class="number">157,654</td>,
 <td class="number">325,813</td>,
 <td class="number">142,763</td>,
 <td class="number">0.93</td>,
 <td class="number">114,000</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.87%
 				</span>
 </td>,
 <td class="number">207,901</td>,
 <td class="number">137,292</td>,
 <td class="number">156,513</td>,
 <td class="number">98,126</td>,
 <td class="number">26,943</td>,
 <td class="number">2.04</td>,
 <td class="number">977,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				5,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.51%
 				</span>
 </td>,
 <td class="number">11,189</td>,
 <td class="number">15,618</td>,
 <td class="number">152,590</td>,
 <td class="number">45,022</td>,
 <td class="number">18,813</td>,
 <td class="number">6.46</td>,
 <td class="number">50,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				200
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.40%
 				</span>
 </td>,
 <td class="number">510,398</td>,
 <td class="number">296,003</td>,
 <td class="number">148,002</td>,
 <td class="number">3,481,775</td>,
 <td class="number">3,247,875</td>,
 <td class="number">0.66</td>,
 <td class="number">35,350</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				100
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.28%
 				</span>
 </td>,
 <td class="number">443,597</td>,
 <td class="number">405,363</td>,
 <td class="number">143,296</td>,
 <td class="number">508,893</td>,
 <td class="number">243,098</td>,
 <td class="number">0.53</td>,
 <td class="number">80,100</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				300
 				</span>
 </td>,
 <td class="number">212,738</td>,
 <td class="number">172,557</td>,
 <td class="number">138,218</td>,
 <td class="number">194,894</td>,
 <td class="number">52,694</td>,
 <td class="number">1.01</td>,
 <td class="number">286,500</td>,
 <td class="number">48,854</td>,
 <td class="number">47,375</td>,
 <td class="number">135,729</td>,
 <td class="number">682,175</td>,
 <td class="number">572,093</td>,
 <td class="number">1.11</td>,
 <td class="number">393,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				6,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.55%
 				</span>
 </td>,
 <td class="number">159,325</td>,
 <td class="number">34,275</td>,
 <td class="number">134,702</td>,
 <td class="number">158,668</td>,
 <td class="number">64,660</td>,
 <td class="number">1.41</td>,
 <td class="number">172,000</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.58%
 				</span>
 </td>,
 <td class="number">45,197</td>,
 <td class="number">77,378</td>,
 <td class="number">133,090</td>,
 <td class="number">68,420</td>,
 <td class="number">15,509</td>,
 <td class="number">2.59</td>,
 <td class="number">113,500</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.44%
 				</span>
 </td>,
 <td class="number">208,274</td>,
 <td class="number">112,583</td>,
 <td class="number">127,781</td>,
 <td class="number">139,590</td>,
 <td class="number">75,674</td>,
 <td class="number">2.07</td>,
 <td class="number">18,300</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				150
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.81%
 				</span>
 </td>,
 <td class="number">636,784</td>,
 <td class="number">676,000</td>,
 <td class="number">123,708</td>,
 <td class="number">3,106,827</td>,
 <td class="number">2,901,368</td>,
 <td class="number">0.60</td>,
 <td class="number">176,500</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.84%
 				</span>
 </td>,
 <td class="number">170,678</td>,
 <td class="number">68,765</td>,
 <td class="number">121,369</td>,
 <td class="number">149,003</td>,
 <td class="number">39,362</td>,
 <td class="number">73,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.82%
 				</span>
 </td>,
 <td class="number">749,552</td>,
 <td class="number">163,648</td>,
 <td class="number">119,463</td>,
 <td class="number">378,553</td>,
 <td class="number">244,985</td>,
 <td class="number">1.10</td>,
 <td class="number">138,500</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				3,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+2.21%
 				</span>
 </td>,
 <td class="number">181,631</td>,
 <td class="number">85,011</td>,
 <td class="number">117,740</td>,
 <td class="number">19,574</td>,
 <td class="number">6,471</td>,
 <td class="number">7.72</td>,
 <td class="number">30,300</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				50
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.16%
 				</span>
 </td>,
 <td class="number">2,056,292</td>,
 <td class="number">357,816</td>,
 <td class="number">108,418</td>,
 <td class="number">248,843</td>,
 <td class="number">114,219</td>,
 <td class="number">0.84</td>,
 <td class="number">125,500</td>,
 <td class="number">90,764</td>,
 <td class="number">82,458</td>,
 <td class="number">103,485</td>,
 <td class="number">70,884</td>,
 <td class="number">15,215</td>,
 <td class="number">3.69</td>,
 <td class="number">501,000</td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.20%
 				</span>
 </td>,
 <td class="number">35,204</td>,
 <td class="number">18,870</td>,
 <td class="number">94,539</td>,
 <td class="number">64,826</td>,
 <td class="number">8,199</td>,
 <td class="number">1.61</td>,
 <td class="number">156,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				5,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-3.41%
 				</span>
 </td>,
 <td class="number">639,260</td>,
 <td class="number">56,665</td>,
 <td class="number">88,398</td>,
 <td class="number">492,492</td>,
 <td class="number">313,594</td>,
 <td class="number">0.64</td>,
 <td class="number">15,150</td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.66%
 				</span>
 </td>,
 <td class="number">748,895</td>,
 <td class="number">559,979</td>,
 <td class="number">84,837</td>,
 <td class="number">2,568,514</td>,
 <td class="number">2,388,040</td>,
 <td class="number">0.56</td>,
 <td class="number">32,450</td>,
 <td class="number">406,081</td>,
 <td class="number">261,112</td>,
 <td class="number">84,731</td>,
 <td class="number">305,877</td>,
 <td class="number">177,930</td>,
 <td class="number">0.69</td>,
 <td class="number">267,500</td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.19%
 				</span>
 </td>,
 <td class="number">68,676</td>,
 <td class="number">31,491</td>,
 <td class="number">84,238</td>,
 <td class="number">419,159</td>,
 <td class="number">246,519</td>,
 <td class="number">0.48</td>,

In [14]:
# Making a dict to contain all values for Piotroski Universe - To identify Book-to-Market Value and small-to-medium firm
from collections import defaultdict

piotroski_size = defaultdict(list)

In [15]:
stock_ids = soup.select('a[href*="/item/main.nhn"]')

In [16]:
stock_ids

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a class="tltle" href="/item/main.nhn?code=032640">LG유플러스</a>,
 <a class="tltle" href="/item/main.nhn?code=139480">이마트</a>,
 <a class="tltle" href="/item/main.nhn?code=088350">한화생명</a>]

In [17]:
stock_id_ls = []
stock_name_ls = []
for id in stock_ids: 
    stock_id_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[0])
    stock_name_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[1])

In [18]:
len(stock_id_ls)

50

In [19]:
len(stock_name_ls)

50

In [20]:
# Convert stock ids & names lists to Pandas DF 
df_piotroski = pd.DataFrame({'id' : stock_id_ls, 'name': stock_name_ls}, columns = ['id', 'name', 'quant', 'market_sum', 'property_total', 'debt_total', 'listed_stock_cnt', 'pbr', 'face_value',])

In [21]:
df_piotroski

,id,name,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value
0,005930,삼성전자,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000660,SK하이닉스,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,005935,삼성전자우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,005380,현대차,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,005490,POSCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,015760,한국전력,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,035420,NAVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,028260,삼성물산,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,051910,LG화학,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,055550,신한지주,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,012330,현대모비스,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,032830,삼성생명,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,105560,KB금융,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,017670,SK텔레콤,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,034730,SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,207940,삼성바이오로직스,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,090430,아모레퍼시픽,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,096770,SK이노베이션,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,033780,KT&amp;G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,051900,LG생활건강,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,086790,하나금융지주,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,000270,기아차,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,003550,LG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,000810,삼성화재,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,011170,롯데케미칼,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,018260,삼성에스디에스,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,010950,S-Oil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,000030,우리은행,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,006400,삼성SDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,066570,LG전자,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,251270,넷마블게임즈,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,034220,LG디스플레이,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,002790,아모레G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,010130,고려아연,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,009540,현대중공업,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,024110,기업은행,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,030200,KT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,023530,롯데쇼핑,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,036570,엔씨소프트,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,004020,현대제철,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,035720,카카오,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,035250,강원랜드,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,161390,한국타이어,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,021240,코웨이,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,009150,삼성전기,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,267250,현대로보틱스,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,006800,미래에셋대우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,032640,LG유플러스,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,139480,이마트,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,088350,한화생명,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
piotroski_univ_sets = soup.select('td[class^="number"]')
piotroski_univ_sets

[<td class="number">2,345,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				7,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.30%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">200,007</td>, <td class="number">129,768</td>, <td class="number">3,043,071</td>, <td class="number">2,621,743</td>, <td class="number">692,113</td>, <td class="number">1.76</td>, <td class="number">67,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				600
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.90%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">3,119,691</td>, <td class="number">728,002</td>, <td class="number">487,762</td>, <td class="number">322,160</td>, <td class="number">81,925</td>, <td class="number">1.97</td>, <td class="number">1,937,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				4,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.21%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">14,815</td>, <td class="number">18,419</td>, <td class="number">356,768</td>, <td class="number">N/A</td>, <td class="number">N/A</td>, <td class="number">1.45</td>, <td class="number">144,500</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.35%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">252,357</td>, <td class="number">220,276</td>, <td class="number">318,300</td>, <td class="number">1,788,359</td>, <td class="number">1,064,914</td>, <td class="number">0.58</td>, <td class="number">330,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				3,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.90%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">110,607</td>, <td class="number">87,187</td>, <td class="number">288,152</td>, <td class="number">797,630</td>, <td class="number">339,246</td>, <td class="number">0.62</td>, <td class="number">44,850</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				550
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.24%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">1,346,020</td>, <td class="number">641,964</td>, <td class="number">287,921</td>, <td class="number">1,778,370</td>, <td class="number">1,047,865</td>, <td class="number">0.40</td>, <td class="number">784,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				7,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.90%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">43,242</td>, <td class="number">32,963</td>, <td class="number">258,427</td>, <td class="number">63,706</td>, <td class="number">22,410</td>, <td class="number">6.28</td>, <td class="number">133,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.74%
 				</span>
 </td>, <td class="number">100</td>, <td class="number">164,907</td>, <td class="number">189,690</td>, <td class="number">253,236</td>, <td class="number">444,585</td>, <td class="number">233,528</td>, <td class="number">1.20</td>, <td class="number">349,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				5,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.60%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">153,737</td>, <td class="number">70,592</td>, <td class="number">246,367</td>, <td class="number">204,871</td>, <td class="number">64,361</td>, <td class="number">1.81</td>, <td class="number">51,900</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				700
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.33%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">756,928</td>, <td class="number">474,200</td>, <td class="number">246,110</td>, <td class="number">3,956,803</td>, <td class="number">3,639,353</td>, <td class="number">0.79</td>, <td class="number">246,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.41%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">66,873</td>, <td class="number">97,344</td>, <td class="number">239,466</td>, <td class="number">417,116</td>, <td class="number">131,536</td>, <td class="number">0.82</td>, <td class="number">119,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.65%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">245,435</td>, <td class="number">200,000</td>, <td class="number">239,000</td>, <td class="number">2,646,538</td>, <td class="number">2,363,454</td>, <td class="number">0.81</td>, <td class="number">56,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.88%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">448,299</td>, <td class="number">418,112</td>, <td class="number">236,233</td>, <td class="number">3,756,737</td>, <td class="number">3,444,123</td>, <td class="number">0.73</td>, <td class="number">260,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				4,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.52%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">235,295</td>, <td class="number">80,746</td>, <td class="number">209,939</td>, <td class="number">312,977</td>, <td class="number">151,812</td>, <td class="number">1.15</td>, <td class="number">269,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.37%
 				</span>
 </td>, <td class="number">200</td>, <td class="number">85,360</td>, <td class="number">70,360</td>, <td class="number">189,269</td>, <td class="number">1,030,473</td>, <td class="number">607,206</td>, <td class="number">1.16</td>, <td class="number">273,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.37%
 				</span>
 </td>, <td class="number">2,500</td>, <td class="number">88,300</td>, <td class="number">66,165</td>, <td class="number">180,630</td>, <td class="number">75,330</td>, <td class="number">34,506</td>, <td class="number">4.42</td>, <td class="number">280,000</td>, <td class="number">
 <span class="tah p11">0</span>
 </td>, <td class="number">
 <span class="tah p11">0.00%</span>
 </td>, <td class="number">500</td>, <td class="number">55,302</td>, <td class="number">58,458</td>, <td class="number">163,684</td>, <td class="number">51,816</td>, <td class="number">12,849</td>, <td class="number">4.98</td>, <td class="number">170,500</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.29%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">146,660</td>, <td class="number">92,466</td>, <td class="number">157,654</td>, <td class="number">325,813</td>, <td class="number">142,763</td>, <td class="number">0.93</td>, <td class="number">114,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.87%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">207,901</td>, <td class="number">137,292</td>, <td class="number">156,513</td>, <td class="number">98,126</td>, <td class="number">26,943</td>, <td class="number">2.04</td>, <td class="number">977,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				5,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.51%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">11,189</td>, <td class="number">15,618</td>, <td class="number">152,590</td>, <td class="number">45,022</td>, <td class="number">18,813</td>, <td class="number">6.46</td>, <td class="number">50,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				200
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.40%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">510,398</td>, <td class="number">296,003</td>, <td class="number">148,002</td>, <td class="number">3,481,775</td>, <td class="number">3,247,875</td>, <td class="number">0.66</td>, <td class="number">35,350</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				100
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.28%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">443,597</td>, <td class="number">405,363</td>, <td class="number">143,296</td>, <td class="number">508,893</td>, <td class="number">243,098</td>, <td class="number">0.53</td>, <td class="number">80,100</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				300
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.37%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">212,738</td>, <td class="number">172,557</td>, <td class="number">138,218</td>, <td class="number">194,894</td>, <td class="number">52,694</td>, <td class="number">1.01</td>, <td class="number">286,500</td>, <td class="number">
 <span class="tah p11">0</span>
 </td>, <td class="number">
 <span class="tah p11">0.00%</span>
 </td>, <td class="number">500</td>, <td class="number">48,854</td>, <td class="number">47,375</td>, <td class="number">135,729</td>, <td class="number">682,175</td>, <td class="number">572,093</td>, <td class="number">1.11</td>, <td class="number">393,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				6,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.55%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">159,325</td>, <td class="number">34,275</td>, <td class="number">134,702</td>, <td class="number">158,668</td>, <td class="number">64,660</td>, <td class="number">1.41</td>, <td class="number">172,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.58%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">45,197</td>, <td class="number">77,378</td>, <td class="number">133,090</td>, <td class="number">68,420</td>, <td class="number">15,509</td>, <td class="number">2.59</td>, <td class="number">113,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.44%
 				</span>
 </td>, <td class="number">2,500</td>, <td class="number">208,274</td>, <td class="number">112,583</td>, <td class="number">127,781</td>, <td class="number">139,590</td>, <td class="number">75,674</td>, <td class="number">2.07</td>, <td class="number">18,300</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				150
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.81%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">636,784</td>, <td class="number">676,000</td>, <td class="number">123,708</td>, <td class="number">3,106,827</td>, <td class="number">2,901,368</td>, <td class="number">0.60</td>, <td class="number">176,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.84%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">170,678</td>, <td class="number">68,765</td>, <td class="number">121,369</td>, <td class="number">149,003</td>, <td class="number">39,362</td>, <td class="number">1.11</td>, <td class="number">73,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.82%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">749,552</td>, <td class="number">163,648</td>, <td class="number">119,463</td>, <td class="number">378,553</td>, <td class="number">244,985</td>, <td class="number">1.10</td>, <td class="number">138,500</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				3,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+2.21%
 				</span>
 </td>, <td class="number">100</td>, <td class="number">181,631</td>, <td class="number">85,011</td>, <td class="number">117,740</td>, <td class="number">19,574</td>, <td class="number">6,471</td>, <td class="number">7.72</td>, <td class="number">30,300</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				50
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.16%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">2,056,292</td>, <td class="number">357,816</td>, <td class="number">108,418</td>, <td class="number">248,843</td>, <td class="number">114,219</td>, <td class="number">0.84</td>, <td class="number">125,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.40%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">90,764</td>, <td class="number">82,458</td>, <td class="number">103,485</td>, <td class="number">70,884</td>, <td class="number">15,215</td>, <td class="number">3.69</td>, <td class="number">501,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.20%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">35,204</td>, <td class="number">18,870</td>, <td class="number">94,539</td>, <td class="number">64,826</td>, <td class="number">8,199</td>, <td class="number">1.61</td>, <td class="number">156,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				5,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-3.41%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">639,260</td>, <td class="number">56,665</td>, <td class="number">88,398</td>, <td class="number">492,492</td>, <td class="number">313,594</td>, <td class="number">0.64</td>, <td class="number">15,150</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				100
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.66%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">748,895</td>, <td class="number">559,979</td>, <td class="number">84,837</td>, <td class="number">2,568,514</td>, <td class="number">2,388,040</td>, <td class="number">0.56</td>, <td class="number">32,450</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.52%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">406,081</td>, <td class="number">261,112</td>, <td class="number">84,731</td>, <td class="number">305,877</td>, <td class="number">177,930</td>, <td class="number">0.69</td>, <td class="number">267,500</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				500
 				</span>
 </td>, <td class="number">

In [23]:
all_number_classes = []
for item in piotroski_univ_sets:
    all_number_classes.append(item.string)

In [24]:
all_number_classes

['2,345,000',
 None,
 None,
 '5,000',
 '200,007',
 '129,768',
 '3,043,071',
 '2,621,743',
 '692,113',
 '1.76',
 '67,000',
 None,
 None,
 '5,000',
 '3,119,691',
 '728,002',
 '487,762',
 '322,160',
 '81,925',
 '1.97',
 '1,937,000',
 None,
 None,
 '5,000',
 '14,815',
 '18,419',
 '356,768',
 'N/A',
 'N/A',
 '1.45',
 '144,500',
 None,
 None,
 '5,000',
 '252,357',
 '220,276',
 '318,300',
 '1,788,359',
 '1,064,914',
 '0.58',
 '330,500',
 None,
 None,
 '5,000',
 '110,607',
 '87,187',
 '288,152',
 '797,630',
 '339,246',
 '0.62',
 '44,850',
 None,
 None,
 '5,000',
 '1,346,020',
 '641,964',
 '287,921',
 '1,778,370',
 '1,047,865',
 '0.40',
 '784,000',
 None,
 None,
 '500',
 '43,242',
 '32,963',
 '258,427',
 '63,706',
 '22,410',
 '6.28',
 '133,500',
 None,
 None,
 '100',
 '164,907',
 '189,690',
 '253,236',
 '444,585',
 '233,528',
 '1.20',
 '349,000',
 None,
 None,
 '5,000',
 '153,737',
 '70,592',
 '246,367',
 '204,871',
 '64,361',
 '1.81',
 '51,900',
 None,
 None,
 '5,000',
 '756,928',
 '474,200',
 '246,110',
 '3,956,803',
 '3,639,353',
 '0.79',
 '246,000',
 None,
 None,
 '5,000',
 '66,873',
 '97,344',
 '239,466',
 '417,116',
 '131,536',
 '0.82',
 '119,500',
 None,
 None,
 '500',
 '245,435',
 '200,000',
 '239,000',
 '2,646,538',
 '2,363,454',
 '0.81',
 '56,500',
 None,
 None,
 '5,000',
 '448,299',
 '418,112',
 '236,233',
 '3,756,737',
 '3,444,123',
 '0.73',
 '260,000',
 None,
 None,
 '500',
 '235,295',
 '80,746',
 '209,939',
 '312,977',
 '151,812',
 '1.15',
 '269,000',
 None,
 None,
 '200',
 '85,360',
 '70,360',
 '189,269',
 '1,030,473',
 '607,206',
 '1.16',
 '273,000',
 None,
 None,
 '2,500',
 '88,300',
 '66,165',
 '180,630',
 '75,330',
 '34,506',
 '4.42',
 '280,000',
 None,
 None,
 '500',
 '55,302',
 '58,458',
 '163,684',
 '51,816',
 '12,849',
 '4.98',
 '170,500',
 None,
 None,
 '5,000',
 '146,660',
 '92,466',
 '157,654',
 '325,813',
 '142,763',
 '0.93',
 '114,000',
 None,
 None,
 '5,000',
 '207,901',
 '137,292',
 '156,513',
 '98,126',
 '26,943',
 '2.04',
 '977,000',
 None,
 None,
 '5,000',
 '11,189',
 '15,618',
 '152,590',
 '45,022',
 '18,813',
 '6.46',
 '50,000',
 None,
 None,
 '5,000',
 '510,398',
 '296,003',
 '148,002',
 '3,481,775',
 '3,247,875',
 '0.66',
 '35,350',
 None,
 None,
 '5,000',
 '443,597',
 '405,363',
 '143,296',
 '508,893',
 '243,098',
 '0.53',
 '80,100',
 None,
 None,
 '5,000',
 '212,738',
 '172,557',
 '138,218',
 '194,894',
 '52,694',
 '1.01',
 '286,500',
 None,
 None,
 '500',
 '48,854',
 '47,375',
 '135,729',
 '682,175',
 '572,093',
 '1.11',
 '393,000',
 None,
 None,
 '5,000',
 '159,325',
 '34,275',
 '134,702',
 '158,668',
 '64,660',
 '1.41',
 '172,000',
 None,
 None,
 '500',
 '45,197',
 '77,378',
 '133,090',
 '68,420',
 '15,509',
 '2.59',
 '113,500',
 None,
 None,
 '2,500',
 '208,274',
 '112,583',
 '127,781',
 '139,590',
 '75,674',
 '2.07',
 '18,300',
 None,
 None,
 '5,000',
 '636,784',
 '676,000',
 '123,708',
 '3,106,827',
 '2,901,368',
 '0.60',
 '176,500',
 None,
 None,
 '5,000',
 '170,678',
 '68,765',
 '121,369',
 '149,003',
 '39,362',
 '1.11',
 '73,000',
 None,
 None,
 '5,000',
 '749,552',
 '163,648',
 '119,463',
 '378,553',
 '244,985',
 '1.10',
 '138,500',
 None,
 None,
 '100',
 '181,631',
 '85,011',
 '117,740',
 '19,574',
 '6,471',
 '7.72',
 '30,300',
 None,
 None,
 '5,000',
 '2,056,292',
 '357,816',
 '108,418',
 '248,843',
 '114,219',
 '0.84',
 '125,500',
 None,
 None,
 '500',
 '90,764',
 '82,458',
 '103,485',
 '70,884',
 '15,215',
 '3.69',
 '501,000',
 None,
 None,
 '5,000',
 '35,204',
 '18,870',
 '94,539',
 '64,826',
 '8,199',
 '1.61',
 '156,000',
 None,
 None,
 '5,000',
 '639,260',
 '56,665',
 '88,398',
 '492,492',
 '313,594',
 '0.64',
 '15,150',
 None,
 None,
 '5,000',
 '748,895',
 '559,979',
 '84,837',
 '2,568,514',
 '2,388,040',
 '0.56',
 '32,450',
 None,
 None,
 '5,000',
 '406,081',
 '261,112',
 '84,731',
 '305,877',
 '177,930',
 '0.69',
 '267,500',
 None,
 None,
 '5,000',
 '68,676',
 '31,491',
 '84,238',
 '419,159',
 '246,519',
 '0.48',
 '381,000',
 None,
 None,
 '500',
 '117,440',
 '21,939',
 '83,588',
 '23,608',
 '4,653',
 '4.29',
 '58,100',
 None,
 None,
 '5,000',
 '271,827',
 '133,446',
 '77,532',
 '323,893',
 '160,256',
 '0.47',
 '113,500',
 None,
 None,
 '500',
 '352,485',
 '67,781',
 '76,932',
 '54,841',
 '17,812',
 '2.24',
 '35,350',
 None,
 None,
 '500',
 '178,446',
 '213,940',
 '75,628',
 '39,790',
 '7,263',
 '2.20',
 '61,000',
 None,
 None,
 '500',
 '291,301',
 '123,875',
 '75,564',
 '96,220',
 '36,605',
 '1.27',
 '97,900',
 None,
 None,
 '500',
 '121,846',
 '74,818',
 '73,247',
 '19,677',
 '7,844',
 '6.07',
 '96,800',
 None,
 None,
 '5,000',
 '578,010',
 '74,694',
 '72,303',
 '76,626',
 '33,250',
 '1.72',
 '439,000',
 None,
 None,
 '5,000',
 '160,386',
 '16,287',
 '71,498',
 'N/A',
 'N/A',
 'N/A',
 '10,400',
 None,
 None,
 '5,000',
 '2,045,347',
 '666,316',
 '69,297',
 '572,678',
 '506,020',
 '0.81',
 '14,900',
 None,
 None,
 '5,000',
 '1,949,576',
 '436,611',
 '65,055',
 '119,891',
 '71,628',
 '1.35',
 '232,000',
 None,
 None,
 '5,000',
 '55,421',
 '27,876',
 '64,672',
 '154,282',
 '73,040',
 '0.84',
 '7,430',
 None,
 None,
 '5,000',
 '2,548,073',
 '868,530',
 '64,532',
 '1,193,811',
 '1,102,220',
 '0.65']

In [25]:
# Titles for each number idex
"""1. present_value = 현재가
   2. none
   3. none
   4. face_value = 액면가
   5. quant = 거래량
   6. listed_stock_cnt = 상장주식수
   7. market_sum = 시가총액 
   8. property_total = 자산총액 
   9. debt_total = 부채총액 
   10. pbr = PBR 
   """

# Slicing and creating an individual list for each category 
present_value = all_number_classes[::10]
face_value = all_number_classes[3::10]
quant = all_number_classes[4::10]
listed_stock_cnt = all_number_classes[5::10]
market_sum = all_number_classes[6::10] 
property_total = all_number_classes[7::10]
debt_total = all_number_classes[8::10]
pbr = all_number_classes[9::10]

In [26]:
# Put each category list to DF
df_piotroski['present_value'] = present_value
df_piotroski['quant'] = quant
df_piotroski['property_total'] = property_total
df_piotroski['debt_total'] = debt_total
df_piotroski['listed_stock_cnt'] = listed_stock_cnt
df_piotroski['pbr'] = pbr
df_piotroski['market_sum'] = market_sum
df_piotroski['face_value'] = face_value

In [27]:
df_piotroski

,id,name,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value,present_value
0,005930,삼성전자,"200,007","3,043,071","2,621,743","692,113","129,768",1.76,"5,000","2,345,000"
1,000660,SK하이닉스,"3,119,691","487,762","322,160","81,925","728,002",1.97,"5,000","67,000"
2,005935,삼성전자우,"14,815","356,768",N/A,N/A,"18,419",1.45,"5,000","1,937,000"
3,005380,현대차,"252,357","318,300","1,788,359","1,064,914","220,276",0.58,"5,000","144,500"
4,005490,POSCO,"110,607","288,152","797,630","339,246","87,187",0.62,"5,000","330,500"
5,015760,한국전력,"1,346,020","287,921","1,778,370","1,047,865","641,964",0.40,"5,000","44,850"
6,035420,NAVER,"43,242","258,427","63,706","22,410","32,963",6.28,500,"784,000"
7,028260,삼성물산,"164,907","253,236","444,585","233,528","189,690",1.20,100,"133,500"
8,051910,LG화학,"153,737","246,367","204,871","64,361","70,592",1.81,"5,000","349,000"
9,055550,신한지주,"756,928","246,110","3,956,803","3,639,353","474,200",0.79,"5,000","51,900"
10,012330,현대모비스,"66,873","239,466","417,116","131,536","97,344",0.82,"5,000","246,000"
11,032830,삼성생명,"245,435","239,000","2,646,538","2,363,454","200,000",0.81,500,"119,500"
12,105560,KB금융,"448,299","236,233","3,756,737","3,444,123","418,112",0.73,"5,000","56,500"
13,017670,SK텔레콤,"235,295","209,939","312,977","151,812","80,746",1.15,500,"260,000"
14,034730,SK,"85,360","189,269","1,030,473","607,206","70,360",1.16,200,"269,000"
15,207940,삼성바이오로직스,"88,300","180,630","75,330","34,506","66,165",4.42,"2,500","273,000"
16,090430,아모레퍼시픽,"55,302","163,684","51,816","12,849","58,458",4.98,500,"280,000"
17,096770,SK이노베이션,"146,660","157,654","325,813","142,763","92,466",0.93,"5,000","170,500"
18,033780,KT&amp;G,"207,901","156,513","98,126","26,943","137,292",2.04,"5,000","114,000"
19,051900,LG생활건강,"11,189","152,590","45,022","18,813","15,618",6.46,"5,000","977,000"
20,086790,하나금융지주,"510,398","148,002","3,481,775","3,247,875","296,003",0.66,"5,000","50,000"
21,000270,기아차,"443,597","143,296","508,893","243,098","405,363",0.53,"5,000","35,350"
22,003550,LG,"212,738","138,218","194,894","52,694","172,557",1.01,"5,000","80,100"
23,000810,삼성화재,"48,854","135,729","682,175","572,093","47,375",1.11,500,"286,500"
24,011170,롯데케미칼,"159,325","134,702","158,668","64,660","34,275",1.41,"5,000","393,000"
25,018260,삼성에스디에스,"45,197","133,090","68,420","15,509","77,378",2.59,500,"172,000"
26,010950,S-Oil,"208,274","127,781","139,590","75,674","112,583",2.07,"2,500","113,500"
27,000030,우리은행,"636,784","123,708","3,106,827","2,901,368","676,000",0.60,"5,000","18,300"
28,006400,삼성SDI,"170,678","121,369","149,003","39,362","68,765",1.11,"5,000","176,500"
29,066570,LG전자,"749,552","119,463","378,553","244,985","163,648",1.10,"5,000","73,000"
30,251270,넷마블게임즈,"181,631","117,740","19,574","6,471","85,011",7.72,100,"138,500"
31,034220,LG디스플레이,"2,056,292","108,418","248,843","114,219","357,816",0.84,"5,000","30,300"
32,002790,아모레G,"90,764","103,485","70,884","15,215","82,458",3.69,500,"125,500"
33,010130,고려아연,"35,204","94,539","64,826","8,199","18,870",1.61,"5,000","501,000"
34,009540,현대중공업,"639,260","88,398","492,492","313,594","56,665",0.64,"5,000","156,000"
35,024110,기업은행,"748,895","84,837","2,568,514","2,388,040","559,979",0.56,"5,000","15,150"
36,030200,KT,"406,081","84,731","305,877","177,930","261,112",0.69,"5,000","32,450"
37,023530,롯데쇼핑,"68,676","84,238","419,159","246,519","31,491",0.48,"5,000","267,500"
38,036570,엔씨소프트,"117,440","83,588","23,608","4,653","21,939",4.29,500,"381,000"
39,004020,현대제철,"271,827","77,532","323,893","160,256","133,446",0.47,"5,000","58,100"
40,035720,카카오,"352,485","76,932","54,841","17,812","67,781",2.24,500,"113,500"
41,035250,강원랜드,"178,446","75,628","39,790","7,263","213,940",2.20,500,"35,350"
42,161390,한국타이어,"291,301","75,564","96,220","36,605","123,875",1.27,500,"61,000"
43,021240,코웨이,"121,846","73,247","19,677","7,844","74,818",6.07,500,"97,900"
44,009150,삼성전기,"578,010","72,303","76,626","33,250","74,694",1.72,"5,000","96,800"
45,267250,현대로보틱스,"160,386","71,498",N/A,N/A,"16,287",N/A,"5,000","439,000"
46,006800,미래에셋대우,"2,045,347","69,297","572,678","506,020","666,316",0.81,"5,000","10,400"
47,032640,LG유플러스,"1,949,576","65,055","119,891","71,628","436,611",1.35,"5,000","14,900"
48,139480,이마트,"55,421","64,672","154,282","73,040","27,876",0.84,"5,000","232,000"
49,088350,한화생명,"2,548,073","64,532","1,193,811","1,102,220","868,530",0.65,"5,000","7,430"

#### ----- BREAK -----

##### Part II : Flipping pages 1 ~ 27

In [6]:
# Looping!

page_num = 1 # KOSPI 27 pages

stock_id_ls = []
stock_name_ls = [] 

all_number_classes = [] 

for num in range(1, page_num + 28): 
    url_p = "http://finance.naver.com/sise/field_submit.nhn?menu=market_sum&returnUrl=http%3A%2F%2Ffinance.naver.com%2Fsise%2Fsise_market_sum.nhn%3Fsosok%3D{0}%26page%3D{1}&fieldIds={2}&fieldIds={3}&fieldIds={4}&fieldIds={5}&fieldIds={6}&fieldIds={7}".format('0',
                                                                                                                                                                                                                                                                   num, 
                                                                                                                                                                                                                                                                   'quant',
                                                                                                                                                                                                                                                                   'listed_stock_cnt',
                                                                                                                                                                                                                                                                   'market_sum',
                                                                                                                                                                                                                                                                   'property_total',
                                                                                                                                                                                                                                                                   'debt_total',
                                                                                                                                                                                                                                                                   'pbr')
    
    r = requests.get(url_p)
    html = r.text 
    
    soup = BeautifulSoup(html, 'lxml')
    
    stock_ids = soup.select('a[href*="/item/main.nhn"]')
    piotroski_univ_sets = soup.select('td[class^="number"]')
    
    # Looping stock ids and names 
    for id in stock_ids: 
        stock_id_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[0])
        stock_name_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[1])
        
    # Looping Number Classes for each stock    
    for item in piotroski_univ_sets: 
        all_number_classes.append(item.string)

In [7]:
# Convert stock ids & names lists to Pandas DF 
df_piotroski = pd.DataFrame({'id' : stock_id_ls, 'name': stock_name_ls}, columns = ['id', 'name', 'quant', 'market_sum', 'property_total', 'debt_total', 'listed_stock_cnt', 'pbr', 'face_value',])

# Slicing and creating an individual list for each category 
present_value = all_number_classes[::10]
face_value = all_number_classes[3::10]
quant = all_number_classes[4::10]
listed_stock_cnt = all_number_classes[5::10]
market_sum = all_number_classes[6::10] 
property_total = all_number_classes[7::10]
debt_total = all_number_classes[8::10]
pbr = all_number_classes[9::10] 

# Put each category list to DF
df_piotroski['present_value'] = present_value
df_piotroski['quant'] = quant
df_piotroski['property_total'] = property_total
df_piotroski['debt_total'] = debt_total
df_piotroski['listed_stock_cnt'] = listed_stock_cnt
df_piotroski['pbr'] = pbr
df_piotroski['market_sum'] = market_sum
df_piotroski['face_value'] = face_value

In [10]:
df_piotroski

,id,name,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value,present_value
0,005930,삼성전자,"88,963","3,041,773","2,621,743","692,113","129,768",1.76,"5,000","2,344,000"
1,000660,SK하이닉스,"2,407,867","490,674","322,160","81,925","728,002",1.98,"5,000","67,400"
2,005935,삼성전자우,"15,818","353,453",N/A,N/A,"18,419",1.44,"5,000","1,919,000"
3,005380,현대차,"389,861","327,111","1,788,359","1,064,914","220,276",0.59,"5,000","148,500"
4,005490,POSCO,"167,985","295,999","797,630","339,246","87,187",0.64,"5,000","339,500"
5,015760,한국전력,"437,578","283,427","1,778,370","1,047,865","641,964",0.40,"5,000","44,150"
6,035420,NAVER,"37,021","257,439","63,706","22,410","32,963",6.26,500,"781,000"
7,028260,삼성물산,"108,075","252,288","444,585","233,528","189,690",1.20,100,"133,000"
8,051910,LG화학,"103,997","246,014","204,871","64,361","70,592",1.81,"5,000","348,500"
9,012330,현대모비스,"81,701","245,307","417,116","131,536","97,344",0.84,"5,000","252,000"
10,055550,신한지주,"361,372","245,161","3,956,803","3,639,353","474,200",0.79,"5,000","51,700"
11,032830,삼성생명,"151,654","236,000","2,646,538","2,363,454","200,000",0.80,500,"118,000"
12,105560,KB금융,"667,885","234,142","3,756,737","3,444,123","418,112",0.72,"5,000","56,000"
13,017670,SK텔레콤,"68,422","209,131","312,977","151,812","80,746",1.15,500,"259,000"
14,034730,SK,"103,174","186,807","1,030,473","607,206","70,360",1.14,200,"265,500"
15,207940,삼성바이오로직스,"96,847","181,623","75,330","34,506","66,165",4.45,"2,500","274,500"
16,090430,아모레퍼시픽,"45,555","163,684","51,816","12,849","58,458",4.98,500,"280,000"
17,096770,SK이노베이션,"282,277","161,352","325,813","142,763","92,466",0.95,"5,000","174,500"
18,033780,KT&amp;G,"278,051","155,141","98,126","26,943","137,292",2.03,"5,000","113,000"
19,051900,LG생활건강,"6,438","150,872","45,022","18,813","15,618",6.39,"5,000","966,000"
20,086790,하나금융지주,"324,331","146,818","3,481,775","3,247,875","296,003",0.65,"5,000","49,600"
21,000270,기아차,"450,944","144,512","508,893","243,098","405,363",0.54,"5,000","35,650"
22,003550,LG,"152,154","138,908","194,894","52,694","172,557",1.02,"5,000","80,500"
23,011170,롯데케미칼,"85,913","135,045","158,668","64,660","34,275",1.42,"5,000","394,000"
24,000810,삼성화재,"34,720","134,308","682,175","572,093","47,375",1.10,500,"283,500"
25,010950,S-Oil,"398,192","131,159","139,590","75,674","112,583",2.12,"2,500","116,500"
26,018260,삼성에스디에스,"109,240","129,221","68,420","15,509","77,378",2.51,500,"167,000"
27,066570,LG전자,"1,073,306","124,209","378,553","244,985","163,648",1.14,"5,000","75,900"
28,000030,우리은행,"620,379","124,046","3,106,827","2,901,368","676,000",0.61,"5,000","18,350"
29,006400,삼성SDI,"257,164","122,401","149,003","39,362","68,765",1.12,"5,000","178,000"
...,...,...,...,...,...,...,...,...,...,...
1313,000145,하이트진로홀딩스우,993,49,N/A,N/A,471,0.43,"5,000","10,350"
1314,004835,덕성우,"47,218",46,N/A,N/A,"1,392",0.78,500,"3,340"
1315,139320,TIGER 금은선물(H),"1,095",46,N/A,N/A,600,N/A,0,"7,735"
1316,000995,동부하이텍1우,"40,013",45,N/A,N/A,112,5.13,"5,000","40,500"
1317,003075,코오롱글로벌우,"6,852",45,N/A,N/A,313,0.70,"5,000","14,450"
1318,000227,유유제약2우B,"117,588",45,N/A,N/A,164,2.49,"1,000","27,400"
1319,227560,TIGER 200 생활소비재,45,45,N/A,N/A,340,N/A,0,"13,170"
1320,003415,쌍용양회우,"4,317",45,N/A,N/A,309,0.80,"5,000","14,450"
1321,014285,금강공업우,298,45,N/A,N/A,118,0.66,"5,000","37,800"
1322,105010,TIGER 라틴35,"2,717",44,N/A,N/A,"1,100",N/A,0,"4,000"
1323,001067,JW중외제약2우B,"47,198",44,N/A,N/A,84,3.97,"2,500","52,000"
1324,001527,동양2우B,"20,768",44,N/A,N/A,309,3.47,500,"14,200"
1325,004985,성신양회우,"8,355",42,N/A,N/A,736,0.45,"5,000","5,760"
1326,157520,TIGER 화학,"1,332",40,N/A,N/A,340,N/A,0,"11,910"
1327,138920,KODEX 콩선물(H),790,40,N/A,N/A,400,N/A,0,"10,115"
1328,227550,TIGER 200 산업재,56,40,N/A,N/A,660,N/A,0,"5,990"
1329,253160,ARIRANG 200선물인버스2X,279,40,N/A,N/A,300,N/A,0,"13,175"
1330,002785,진흥기업우B,"6,254",39,N/A,N/A,857,-37.36,500,"4,560"
1331,000547,흥국화재2우B,"11,559",37,N/A,N/A,154,2.85,"5,000","24,150"
1332,000325,노루홀딩스우,"1,280",37,N/A,N/A,185,0.59,500,"19,900"
1333,157510,TIGER 자동차,26,37,N/A,N/A,260,N/A,0,"14,140"
1334,013367,일성건설2우B,"7,030",36,N/A,N/A,621,3.24,500,"5,850"
1335,001799,대한제당3우B,"2,968",35,N/A,N/A,130,0.54,"2,500","26,900"
1336,139310,TIGER 금속선물(H),378,34,N/A,N/A,600,N/A,0,"5,685"
1337,002787,진흥기업2우B,"16,818",32,N/A,N/A,295,-88.48,500,"10,800"
1338,008355,남선알미우,"56,965",32,N/A,N/A,308,9.28,500,"10,300"
1339,004987,성신양회2우B,"80,665",28,N/A,N/A,221,1.00,"5,000","12,800"
1340,004989,성신양회3우B,"9,071",26,N/A,N/A,287,0.72,"5,000","9,170"
1341,001529,동양3우B,"42,704",26,N/A,N/A,90,7.08,500,"28,950"
1342,000327,노루홀딩스2우B,"17,156",20,N/A,N/A,93,0.65,500,"21,700"

#### ------ BREAK -----

##### Part III. Put the DF to PostgreSQL

In [11]:
# Importing relavent packages from sqlalchemy ORM
from datetime import datetime

from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, DateTime, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

In [12]:
db_string = "postgresql://daesik:@localhost/db_piotroski"

engine = create_engine(db_string, echo=True)
Base = declarative_base()

In [13]:
class Stock(Base):
    __tablename__ = 'stocks'
    
    id = Column(Integer, primary_key=True)
    code = Column(String)
    company = Column(String)
    market_type = Column(Integer)
    created_on = Column(DateTime, default=datetime.utcnow)
    updated_on = Column(DateTime, default=datetime.utcnow)
    children = relationship('BaseParam', back_populates='Stock') # one-to-many & many-to-on relationship setting
    
    def __repr__(self): 
        return "<Stock --> id : {0}, code : {1}, company : {2}, market_type : {3}, created : {4}, updated : {5}>".format(self.id, 
                                                                                                                         self.code, 
                                                                                                                         self.company, 
                                                                                                                         self.market_type, 
                                                                                                                         self.created_on, 
                                                                                                                         self.updated_on,)

In [14]:
class BaseParam(Base): 
    __tablename__= 'base_params'
    
    id = Column(Integer, primary_key=True)
    code = Column(String, ForeignKey('stocks.code'))
    date = Column(DateTime)
    price_open = Column(Integer)
    price_close = Column(Integer)
    price_high = Column(Integer)
    price_low = Column(Integer)
    quant = Column(Integer)
    parent = relationship('Stock', back_populates='BasePram') # 거래량, 향후 volume으로 변경가능. 네이버 파라미터와 맞추기 위해 quant 사용

In [ ]:
class BookMarketParam(Base):
    __tablename__= 'bm_rarams'
    
    id = Column(Integer, Primary_key=True)
    code = Column(String, ForeignKey('stocks.code'))
    # 변수 추가!!!