Implementation Plan. Part 1 - for the universe
1. things to crawl to filter or create a portfolio universe
   - 시가총액(Market Capitalization a.k.a "market cap")
   - "BV" (Book Value, Asset - Liability = SH's Equity)
   - PBR(Price-to-Book Ratio, 주가순자산비율)
   - 상장주식수

In [1]:
#Import packages
import requests 
from bs4 import BeautifulSoup

import numpy as np
import pandas as pd

In [2]:
# Crawler Building
# setting URL

url = "http://finance.naver.com/sise/field_submit.nhn?menu=market_sum&returnUrl=http%3A%2F%2Ffinance.naver.com%2Fsise%2Fsise_market_sum.nhn%3Fsosok%3D{0}%26page%3D{1}&fieldIds={2}&fieldIds={3}&fieldIds={4}&fieldIds={5}&fieldIds={6}&fieldIds={7}".format('0',
                                                                                                                                                                                                                                                             '1', 
                                                                                                                                                                                                                                                             'quant',
                                                                                                                                                                                                                                                             'listed_stock_cnt',
                                                                                                                                                                                                                                                             'market_sum',
                                                                                                                                                                                                                                                             'property_total',
                                                                                                                                                                                                                                                             'debt_total',
                                                                                                                                                                                                                                                             'pbr')
"""options to choose 
   1. 거래량 : 'quant'
   2. 시가 : 'open_val'
   3. 고가 : 'high_val'
   4. 저가 : 'loq_val' 
   5. 매수호가 : 'ask_buy'
   6. 매도호가 : 'ask_sell' 
   7. 매수총잔량 : 'buy_total'
   8. 매도총잔량 : 'sell_total'
   9. 거래대금(백만) : 'amount' 
   10. 전일거래량 : 'prev_quant'
   11. 외국인비율 : 'frgn_rate'
   12. 상장주식수(천주) : 'listed_stock_cnt'
   13. 시가총액(억) : 'market_sum'
   14. 자산총계(억) : 'property_total'
   15. 부채총계(억) : 'debt_total' 
   16. 매출액(억) : 'sales'
   17. 매출액증가율 : 'sales_increasing_rate'
   18. 영업이익(억) : 'operating_profit'
   19. 영업이익증가율 : 'operating_profit_increasing_rate' 
   20. 당기순이익(억) : 'net_income'
   21. 주당순이익(원) : 'eps'
   22. 보통주배당금(원) : 'dividend'
   23. PER(배) : 'per'
   24. ROE(%) : 'roe'
   25. ROA(%) : 'roa'
   26. PBR(배) : 'pbr'
   27. 유보율(%) : 'reserve_ratio'
   """

"options to choose \n   1. 거래량 : 'quant'\n   2. 시가 : 'open_val'\n   3. 고가 : 'high_val'\n   4. 저가 : 'loq_val' \n   5. 매수호가 : 'ask_buy'\n   6. 매도호가 : 'ask_sell' \n   7. 매수총잔량 : 'buy_total'\n   8. 매도총잔량 : 'sell_total'\n   9. 거래대금(백만) : 'amount' \n   10. 전일거래량 : 'prev_quant'\n   11. 외국인비율 : 'frgn_rate'\n   12. 상장주식수(천주) : 'listed_stock_cnt'\n   13. 시가총액(억) : 'market_sum'\n   14. 자산총계(억) : 'property_total'\n   15. 부채총계(억) : 'debt_total' \n   16. 매출액(억) : 'sales'\n   17. 매출액증가율 : 'sales_increasing_rate'\n   18. 영업이익(억) : 'operating_profit'\n   19. 영업이익증가율 : 'operating_profit_increasing_rate' \n   20. 당기순이익(억) : 'net_income'\n   21. 주당순이익(원) : 'eps'\n   22. 보통주배당금(원) : 'dividend'\n   23. PER(배) : 'per'\n   24. ROE(%) : 'roe'\n   25. ROA(%) : 'roa'\n   26. PBR(배) : 'pbr'\n   27. 유보율(%) : 'reserve_ratio'\n   "

In [3]:
# Requests
req = requests.get(url)
html = req.text

In [4]:
# BeautifulSoup - Making the soup
soup = BeautifulSoup(html, 'lxml')

In [5]:
soup.select('table.type_2 a[href]')

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a href="/item/board.nhn?code=005930"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a href="/item/board.nhn?code=000660"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a href="/item/board.nhn?code=005935"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a href="/item/board.nhn?code=005380"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a href="/item/board.nhn?code=005490"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a href="/item/board.nhn?code=051910"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a href="/item/board.nhn?code=015760"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a href="/item/board.nhn?code=028260"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a href="/item/board.nhn?code=035420"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a href="/item/board.nhn?code=055550"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a href="/item/board.nhn?code=105560"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a href="/item/board.nhn?code=032830"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a href="/item/board.nhn?code=207940"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a href="/item/board.nhn?code=012330"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a href="/item/board.nhn?code=017670"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a href="/item/board.nhn?code=034730"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a href="/item/board.nhn?code=096770"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a href="/item/board.nhn?code=090430"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a href="/item/board.nhn?code=006400"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a href="/item/board.nhn?code=066570"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a href="/item/board.nhn?code=033780"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a href="/item/board.nhn?code=086790"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a href="/item/board.nhn?code=051900"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a href="/item/board.nhn?code=003550"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a href="/item/board.nhn?code=010950"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a href="/item/board.nhn?code=011170"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a href="/item/board.nhn?code=251270"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a href="/item/board.nhn?code=018260"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a href="/item/board.nhn?code=000810"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a href="/item/board.nhn?code=000270"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a href="/item/board.nhn?code=000030"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a href="/item/board.nhn?code=034220"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a href="/item/board.nhn?code=002790"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a href="/item/board.nhn?code=036570"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a href="/item/board.nhn?code=035720"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a href="/item/board.nhn?code=010130"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a href="/item/board.nhn?code=009540"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a href="/item/board.nhn?code=024110"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a href="/item/board.nhn?code=009150"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a href="/item/board.nhn?code=030200"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a href="/item/board.nhn?code=035250"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a href="/item/board.nhn?code=161390"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a href="/item/board.nhn?code=021240"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a href="/item/board.nhn?code=004020"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a href="/item/board.nhn?code=023530"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a href="/item/board.nhn?code=267250"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a href="/item/board.nhn?code=006800"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=018880">한온시스템</a>,
 <a href="/item/board.nhn?code=018880"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=078930">GS</a>,
 <a href="/item/board.nhn?code=078930"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>,
 <a class="tltle" href="/item/main.nhn?code=009830">한화케미칼</a>,
 <a href="/item/board.nhn?code=009830"><img alt="토론실" height="13" src="http://imgstock.naver.net/images5/ico_debatebl2.gif" width="15"/></a>]

In [6]:
soup.find_all('a', 'tltle')

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a class="tltle" href="/item/main.nhn?code=018880">한온시스템</a>,
 <a class="tltle" href="/item/main.nhn?code=078930">GS</a>,
 <a class="tltle" href="/item/main.nhn?code=009830">한화케미칼</a>]

In [7]:
import re
soup.find_all(href = re.compile("/item/main.nhn?"))

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a class="tltle" href="/item/main.nhn?code=018880">한온시스템</a>,
 <a class="tltle" href="/item/main.nhn?code=078930">GS</a>,
 <a class="tltle" href="/item/main.nhn?code=009830">한화케미칼</a>]

In [8]:
a = '<a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>'
a.strip('"<>/a').split('=')[-1].split('">')

['000030', '우리은행']

In [9]:
soup.select('a[href*="/item/main.nhn"], td[class^="number"]')

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a class="tltle" href="/item/main.nhn?code=018880">한온시스템</a>,
 <a class="tltle" href="/item/main.nhn?code=078930">GS</a>,
 <a class="tltle" href="/item/main.nhn?code=009830">한화케미칼</a>,
 <td class="number">2,623,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				12,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.46%
 				</span>
 </td>,
 <td class="number">5,000</td>,
 <td class="number">67,994</td>,
 <td class="number">129,768</td>,
 <td class="number">3,403,828</td>,
 <td class="number">2,621,743</td>,
 <td class="number">692,113</td>,
 <td class="number">1.97</td>,
 <td class="number">82,200</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.86%
 				</span>
 </td>,
 <td class="number">2,665,857</td>,
 <td class="number">728,002</td>,
 <td class="number">598,418</td>,
 <td class="number">322,160</td>,
 <td class="number">81,925</td>,
 <td class="number">2.42</td>,
 <td class="number">2,121,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				4,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.19%
 				</span>
 </td>,
 <td class="number">10,073</td>,
 <td class="number">18,419</td>,
 <td class="number">390,658</td>,
 <td class="number">N/A</td>,
 <td class="number">1.59</td>,
 <td class="number">140,500</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.06%
 				</span>
 </td>,
 <td class="number">164,015</td>,
 <td class="number">220,276</td>,
 <td class="number">309,488</td>,
 <td class="number">1,788,359</td>,
 <td class="number">1,064,914</td>,
 <td class="number">0.56</td>,
 <td class="number">318,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				7,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-2.15%
 				</span>
 </td>,
 <td class="number">69,221</td>,
 <td class="number">87,187</td>,
 <td class="number">277,254</td>,
 <td class="number">797,630</td>,
 <td class="number">339,246</td>,
 <td class="number">0.60</td>,
 <td class="number">391,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				2,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.64%
 				</span>
 </td>,
 <td class="number">97,936</td>,
 <td class="number">70,592</td>,
 <td class="number">276,016</td>,
 <td class="number">204,871</td>,
 <td class="number">64,361</td>,
 <td class="number">2.03</td>,
 <td class="number">39,650</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				300
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.76%
 				</span>
 </td>,
 <td class="number">317,823</td>,
 <td class="number">641,964</td>,
 <td class="number">254,539</td>,
 <td class="number">1,778,370</td>,
 <td class="number">1,047,865</td>,
 <td class="number">0.35</td>,
 <td class="number">134,000</td>,
 <td class="number">
 <span class="tah p11">0</span>
 </td>,
 <td class="number">
 <span class="tah p11">0.00%</span>
 </td>,
 <td class="number">100</td>,
 <td class="number">89,511</td>,
 <td class="number">189,690</td>,
 <td class="number">254,185</td>,
 <td class="number">444,585</td>,
 <td class="number">233,528</td>,
 <td class="number">1.21</td>,
 <td class="number">769,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				14,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.79%
 				</span>
 </td>,
 <td class="number">500</td>,
 <td class="number">22,988</td>,
 <td class="number">32,963</td>,
 <td class="number">253,483</td>,
 <td class="number">63,706</td>,
 <td class="number">22,410</td>,
 <td class="number">6.16</td>,
 <td class="number">51,900</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				600
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.17%
 				</span>
 </td>,
 <td class="number">278,394</td>,
 <td class="number">474,200</td>,
 <td class="number">246,110</td>,
 <td class="number">3,956,803</td>,
 <td class="number">3,639,353</td>,
 <td class="number">0.79</td>,
 <td class="number">56,300</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				700
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.26%
 				</span>
 </td>,
 <td class="number">368,732</td>,
 <td class="number">418,112</td>,
 <td class="number">235,397</td>,
 <td class="number">3,756,737</td>,
 <td class="number">3,444,123</td>,
 <td class="number">0.72</td>,
 <td class="number">116,000</td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.31%
 				</span>
 </td>,
 <td class="number">74,568</td>,
 <td class="number">200,000</td>,
 <td class="number">232,000</td>,
 <td class="number">2,646,538</td>,
 <td class="number">2,363,454</td>,
 <td class="number">0.78</td>,
 <td class="number">337,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.30%
 				</span>
 </td>,
 <td class="number">2,500</td>,
 <td class="number">107,835</td>,
 <td class="number">66,165</td>,
 <td class="number">222,976</td>,
 <td class="number">75,330</td>,
 <td class="number">34,506</td>,
 <td class="number">5.46</td>,
 <td class="number">216,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				3,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.37%
 				</span>
 </td>,
 <td class="number">42,646</td>,
 <td class="number">97,344</td>,
 <td class="number">210,263</td>,
 <td class="number">417,116</td>,
 <td class="number">131,536</td>,
 <td class="number">250,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				4,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.83%
 				</span>
 </td>,
 <td class="number">83,960</td>,
 <td class="number">80,746</td>,
 <td class="number">201,864</td>,
 <td class="number">312,977</td>,
 <td class="number">151,812</td>,
 <td class="number">1.11</td>,
 <td class="number">269,000</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.55%
 				</span>
 </td>,
 <td class="number">200</td>,
 <td class="number">17,746</td>,
 <td class="number">70,360</td>,
 <td class="number">189,269</td>,
 <td class="number">1,030,473</td>,
 <td class="number">607,206</td>,
 <td class="number">1.16</td>,
 <td class="number">192,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.52%
 				</span>
 </td>,
 <td class="number">97,073</td>,
 <td class="number">92,466</td>,
 <td class="number">177,534</td>,
 <td class="number">325,813</td>,
 <td class="number">142,763</td>,
 <td class="number">1.05</td>,
 <td class="number">251,000</td>,
 <td class="number">91,513</td>,
 <td class="number">58,458</td>,
 <td class="number">146,731</td>,
 <td class="number">51,816</td>,
 <td class="number">12,849</td>,
 <td class="number">4.46</td>,
 <td class="number">213,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				6,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-2.74%
 				</span>
 </td>,
 <td class="number">188,465</td>,
 <td class="number">68,765</td>,
 <td class="number">146,468</td>,
 <td class="number">149,003</td>,
 <td class="number">39,362</td>,
 <td class="number">1.34</td>,
 <td class="number">88,100</td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.73%
 				</span>
 </td>,
 <td class="number">757,011</td>,
 <td class="number">163,648</td>,
 <td class="number">144,174</td>,
 <td class="number">378,553</td>,
 <td class="number">244,985</td>,
 <td class="number">1.32</td>,
 <td class="number">104,500</td>,
 <td class="number">115,606</td>,
 <td class="number">137,292</td>,
 <td class="number">143,471</td>,
 <td class="number">98,126</td>,
 <td class="number">26,943</td>,
 <td class="number">1.87</td>,
 <td class="number">48,100</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				450
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.94%
 				</span>
 </td>,
 <td class="number">261,005</td>,
 <td class="number">296,003</td>,
 <td class="number">142,377</td>,
 <td class="number">3,481,775</td>,
 <td class="number">3,247,875</td>,
 <td class="number">0.63</td>,
 <td class="number">897,000</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.11%
 				</span>
 </td>,
 <td class="number">6,681</td>,
 <td class="number">15,618</td>,
 <td class="number">140,095</td>,
 <td class="number">45,022</td>,
 <td class="number">18,813</td>,
 <td class="number">5.94</td>,
 <td class="number">81,100</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				300
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.37%
 				</span>
 </td>,
 <td class="number">75,308</td>,
 <td class="number">172,557</td>,
 <td class="number">139,944</td>,
 <td class="number">194,894</td>,
 <td class="number">52,694</td>,
 <td class="number">1.03</td>,
 <td class="number">122,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				2,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.67%
 				</span>
 </td>,
 <td class="number">156,877</td>,
 <td class="number">112,583</td>,
 <td class="number">137,351</td>,
 <td class="number">139,590</td>,
 <td class="number">75,674</td>,
 <td class="number">2.22</td>,
 <td class="number">389,000</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				8,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+2.10%
 				</span>
 </td>,
 <td class="number">43,454</td>,
 <td class="number">34,275</td>,
 <td class="number">133,331</td>,
 <td class="number">158,668</td>,
 <td class="number">64,660</td>,
 <td class="number">1.40</td>,
 <td class="number">155,500</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.64%
 				</span>
 </td>,
 <td class="number">72,265</td>,
 <td class="number">85,018</td>,
 <td class="number">132,204</td>,
 <td class="number">19,574</td>,
 <td class="number">6,471</td>,
 <td class="number">8.66</td>,
 <td class="number">169,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.46%
 				</span>
 </td>,
 <td class="number">28,059</td>,
 <td class="number">77,378</td>,
 <td class="number">130,768</td>,
 <td class="number">68,420</td>,
 <td class="number">15,509</td>,
 <td class="number">2.54</td>,
 <td class="number">270,500</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.92%
 				</span>
 </td>,
 <td class="number">13,042</td>,
 <td class="number">47,375</td>,
 <td class="number">128,149</td>,
 <td class="number">682,175</td>,
 <td class="number">572,093</td>,
 <td class="number">30,850</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.59%
 				</span>
 </td>,
 <td class="number">379,785</td>,
 <td class="number">405,363</td>,
 <td class="number">125,055</td>,
 <td class="number">508,893</td>,
 <td class="number">243,098</td>,
 <td class="number">0.47</td>,
 <td class="number">17,800</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				250
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.39%
 				</span>
 </td>,
 <td class="number">362,873</td>,
 <td class="number">676,000</td>,
 <td class="number">120,328</td>,
 <td class="number">3,106,827</td>,
 <td class="number">2,901,368</td>,
 <td class="number">0.59</td>,
 <td class="number">31,900</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				350
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.11%
 				</span>
 </td>,
 <td class="number">1,105,810</td>,
 <td class="number">357,816</td>,
 <td class="number">114,143</td>,
 <td class="number">248,843</td>,
 <td class="number">114,219</td>,
 <td class="number">0.88</td>,
 <td class="number">125,500</td>,
 <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.40%
 				</span>
 </td>,
 <td class="number">28,368</td>,
 <td class="number">82,458</td>,
 <td class="number">103,485</td>,
 <td class="number">70,884</td>,
 <td class="number">15,215</td>,
 <td class="number">3.69</td>,
 <td class="number">452,000</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				15,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-3.21%
 				</span>
 </td>,
 <td class="number">129,485</td>,
 <td class="number">21,939</td>,
 <td class="number">99,164</td>,
 <td class="number">23,608</td>,
 <td class="number">4,653</td>,
 <td class="number">5.09</td>,
 <td class="number">142,500</td>,
 <td class="number">409,058</td>,
 <td class="number">67,793</td>,
 <td class="number">96,605</td>,
 <td class="number">54,841</td>,
 <td class="number">17,812</td>,
 <td class="number">2.81</td>,
 <td class="number">492,500</td>,
 <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				9,500
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.89%
 				</span>
 </td>,
 <td class="number">12,583</td>,
 <td class="number">18,870</td>,
 <td class="number">92,935</td>,
 <td class="number">64,826</td>,
 <td class="number">8,199</td>,
 <td class="number">1.58</td>,
 <td class="number">145,000</td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.02%
 				</span>
 </td>,
 <td class="number">35,367</td>,
 <td class="number">56,665</td>,
 <td class="number">82,165</td>,
 <td class="number">492,492</td>,
 <td class="number">313,594</td>,
 <td class="number">14,650</td>,

In [10]:
# Making a dict to contain all values for Piotroski Universe - To identify Book-to-Market Value and small-to-medium firm
from collections import defaultdict

piotroski_size = defaultdict(list)

In [11]:
stock_ids = soup.select('a[href*="/item/main.nhn"]')

In [12]:
stock_ids

[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>,
 <a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>,
 <a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>,
 <a class="tltle" href="/item/main.nhn?code=005380">현대차</a>,
 <a class="tltle" href="/item/main.nhn?code=005490">POSCO</a>,
 <a class="tltle" href="/item/main.nhn?code=051910">LG화학</a>,
 <a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>,
 <a class="tltle" href="/item/main.nhn?code=028260">삼성물산</a>,
 <a class="tltle" href="/item/main.nhn?code=035420">NAVER</a>,
 <a class="tltle" href="/item/main.nhn?code=055550">신한지주</a>,
 <a class="tltle" href="/item/main.nhn?code=105560">KB금융</a>,
 <a class="tltle" href="/item/main.nhn?code=032830">삼성생명</a>,
 <a class="tltle" href="/item/main.nhn?code=207940">삼성바이오로직스</a>,
 <a class="tltle" href="/item/main.nhn?code=012330">현대모비스</a>,
 <a class="tltle" href="/item/main.nhn?code=017670">SK텔레콤</a>,
 <a class="tltle" href="/item/main.nhn?code=034730">SK</a>,
 <a class="tltle" href="/item/main.nhn?code=096770">SK이노베이션</a>,
 <a class="tltle" href="/item/main.nhn?code=090430">아모레퍼시픽</a>,
 <a class="tltle" href="/item/main.nhn?code=006400">삼성SDI</a>,
 <a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>,
 <a class="tltle" href="/item/main.nhn?code=033780">KT&amp;G</a>,
 <a class="tltle" href="/item/main.nhn?code=086790">하나금융지주</a>,
 <a class="tltle" href="/item/main.nhn?code=051900">LG생활건강</a>,
 <a class="tltle" href="/item/main.nhn?code=003550">LG</a>,
 <a class="tltle" href="/item/main.nhn?code=010950">S-Oil</a>,
 <a class="tltle" href="/item/main.nhn?code=011170">롯데케미칼</a>,
 <a class="tltle" href="/item/main.nhn?code=251270">넷마블게임즈</a>,
 <a class="tltle" href="/item/main.nhn?code=018260">삼성에스디에스</a>,
 <a class="tltle" href="/item/main.nhn?code=000810">삼성화재</a>,
 <a class="tltle" href="/item/main.nhn?code=000270">기아차</a>,
 <a class="tltle" href="/item/main.nhn?code=000030">우리은행</a>,
 <a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>,
 <a class="tltle" href="/item/main.nhn?code=002790">아모레G</a>,
 <a class="tltle" href="/item/main.nhn?code=036570">엔씨소프트</a>,
 <a class="tltle" href="/item/main.nhn?code=035720">카카오</a>,
 <a class="tltle" href="/item/main.nhn?code=010130">고려아연</a>,
 <a class="tltle" href="/item/main.nhn?code=009540">현대중공업</a>,
 <a class="tltle" href="/item/main.nhn?code=024110">기업은행</a>,
 <a class="tltle" href="/item/main.nhn?code=009150">삼성전기</a>,
 <a class="tltle" href="/item/main.nhn?code=030200">KT</a>,
 <a class="tltle" href="/item/main.nhn?code=035250">강원랜드</a>,
 <a class="tltle" href="/item/main.nhn?code=161390">한국타이어</a>,
 <a class="tltle" href="/item/main.nhn?code=021240">코웨이</a>,
 <a class="tltle" href="/item/main.nhn?code=004020">현대제철</a>,
 <a class="tltle" href="/item/main.nhn?code=023530">롯데쇼핑</a>,
 <a class="tltle" href="/item/main.nhn?code=267250">현대로보틱스</a>,
 <a class="tltle" href="/item/main.nhn?code=006800">미래에셋대우</a>,
 <a class="tltle" href="/item/main.nhn?code=018880">한온시스템</a>,
 <a class="tltle" href="/item/main.nhn?code=078930">GS</a>,
 <a class="tltle" href="/item/main.nhn?code=009830">한화케미칼</a>]

In [13]:
stock_id_ls = []
stock_name_ls = [] 
for id in stock_ids: 
    stock_id_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[0])
    stock_name_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[1])

In [14]:
len(stock_id_ls)

50

In [15]:
len(stock_name_ls)

50

In [16]:
# Convert stock ids & names lists to Pandas DF 
df_piotroski = pd.DataFrame({'id' : stock_id_ls, 'name': stock_name_ls}, columns = ['id', 'name', 'market_type', 'quant', 'market_sum', 'property_total', 'debt_total', 'listed_stock_cnt', 'pbr', 'face_value',])

In [17]:
df_piotroski['market_type'] = 1
# KOSPI '1' , KOSDAQ '2'

In [18]:
df_piotroski

,id,name,market_type,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value
0,005930,삼성전자,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000660,SK하이닉스,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,005935,삼성전자우,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,005380,현대차,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,005490,POSCO,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,051910,LG화학,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,015760,한국전력,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,028260,삼성물산,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,035420,NAVER,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,055550,신한지주,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,105560,KB금융,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,032830,삼성생명,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,207940,삼성바이오로직스,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,012330,현대모비스,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,017670,SK텔레콤,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,034730,SK,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,096770,SK이노베이션,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,090430,아모레퍼시픽,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,006400,삼성SDI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,066570,LG전자,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,033780,KT&amp;G,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,086790,하나금융지주,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,051900,LG생활건강,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,003550,LG,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,010950,S-Oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,011170,롯데케미칼,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,251270,넷마블게임즈,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,018260,삼성에스디에스,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,000810,삼성화재,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,000270,기아차,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,000030,우리은행,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,034220,LG디스플레이,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,002790,아모레G,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,036570,엔씨소프트,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,035720,카카오,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,010130,고려아연,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,009540,현대중공업,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,024110,기업은행,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,009150,삼성전기,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,030200,KT,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,035250,강원랜드,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,161390,한국타이어,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,021240,코웨이,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,004020,현대제철,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,023530,롯데쇼핑,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,267250,현대로보틱스,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,006800,미래에셋대우,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,018880,한온시스템,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,078930,GS,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,009830,한화케미칼,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
piotroski_univ_sets = soup.select('td[class^="number"]')
piotroski_univ_sets

[<td class="number">2,623,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				12,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.46%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">67,994</td>, <td class="number">129,768</td>, <td class="number">3,403,828</td>, <td class="number">2,621,743</td>, <td class="number">692,113</td>, <td class="number">1.97</td>, <td class="number">82,200</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.86%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">2,665,857</td>, <td class="number">728,002</td>, <td class="number">598,418</td>, <td class="number">322,160</td>, <td class="number">81,925</td>, <td class="number">2.42</td>, <td class="number">2,121,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				4,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.19%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">10,073</td>, <td class="number">18,419</td>, <td class="number">390,658</td>, <td class="number">N/A</td>, <td class="number">N/A</td>, <td class="number">1.59</td>, <td class="number">140,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.06%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">164,015</td>, <td class="number">220,276</td>, <td class="number">309,488</td>, <td class="number">1,788,359</td>, <td class="number">1,064,914</td>, <td class="number">0.56</td>, <td class="number">318,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				7,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-2.15%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">69,221</td>, <td class="number">87,187</td>, <td class="number">277,254</td>, <td class="number">797,630</td>, <td class="number">339,246</td>, <td class="number">0.60</td>, <td class="number">391,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				2,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.64%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">97,936</td>, <td class="number">70,592</td>, <td class="number">276,016</td>, <td class="number">204,871</td>, <td class="number">64,361</td>, <td class="number">2.03</td>, <td class="number">39,650</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				300
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.76%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">317,823</td>, <td class="number">641,964</td>, <td class="number">254,539</td>, <td class="number">1,778,370</td>, <td class="number">1,047,865</td>, <td class="number">0.35</td>, <td class="number">134,000</td>, <td class="number">
 <span class="tah p11">0</span>
 </td>, <td class="number">
 <span class="tah p11">0.00%</span>
 </td>, <td class="number">100</td>, <td class="number">89,511</td>, <td class="number">189,690</td>, <td class="number">254,185</td>, <td class="number">444,585</td>, <td class="number">233,528</td>, <td class="number">1.21</td>, <td class="number">769,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				14,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.79%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">22,988</td>, <td class="number">32,963</td>, <td class="number">253,483</td>, <td class="number">63,706</td>, <td class="number">22,410</td>, <td class="number">6.16</td>, <td class="number">51,900</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				600
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.17%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">278,394</td>, <td class="number">474,200</td>, <td class="number">246,110</td>, <td class="number">3,956,803</td>, <td class="number">3,639,353</td>, <td class="number">0.79</td>, <td class="number">56,300</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				700
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.26%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">368,732</td>, <td class="number">418,112</td>, <td class="number">235,397</td>, <td class="number">3,756,737</td>, <td class="number">3,444,123</td>, <td class="number">0.72</td>, <td class="number">116,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.31%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">74,568</td>, <td class="number">200,000</td>, <td class="number">232,000</td>, <td class="number">2,646,538</td>, <td class="number">2,363,454</td>, <td class="number">0.78</td>, <td class="number">337,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.30%
 				</span>
 </td>, <td class="number">2,500</td>, <td class="number">107,835</td>, <td class="number">66,165</td>, <td class="number">222,976</td>, <td class="number">75,330</td>, <td class="number">34,506</td>, <td class="number">5.46</td>, <td class="number">216,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				3,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.37%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">42,646</td>, <td class="number">97,344</td>, <td class="number">210,263</td>, <td class="number">417,116</td>, <td class="number">131,536</td>, <td class="number">0.72</td>, <td class="number">250,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				4,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.83%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">83,960</td>, <td class="number">80,746</td>, <td class="number">201,864</td>, <td class="number">312,977</td>, <td class="number">151,812</td>, <td class="number">1.11</td>, <td class="number">269,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.55%
 				</span>
 </td>, <td class="number">200</td>, <td class="number">17,746</td>, <td class="number">70,360</td>, <td class="number">189,269</td>, <td class="number">1,030,473</td>, <td class="number">607,206</td>, <td class="number">1.16</td>, <td class="number">192,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.52%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">97,073</td>, <td class="number">92,466</td>, <td class="number">177,534</td>, <td class="number">325,813</td>, <td class="number">142,763</td>, <td class="number">1.05</td>, <td class="number">251,000</td>, <td class="number">
 <span class="tah p11">0</span>
 </td>, <td class="number">
 <span class="tah p11">0.00%</span>
 </td>, <td class="number">500</td>, <td class="number">91,513</td>, <td class="number">58,458</td>, <td class="number">146,731</td>, <td class="number">51,816</td>, <td class="number">12,849</td>, <td class="number">4.46</td>, <td class="number">213,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				6,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-2.74%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">188,465</td>, <td class="number">68,765</td>, <td class="number">146,468</td>, <td class="number">149,003</td>, <td class="number">39,362</td>, <td class="number">1.34</td>, <td class="number">88,100</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.73%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">757,011</td>, <td class="number">163,648</td>, <td class="number">144,174</td>, <td class="number">378,553</td>, <td class="number">244,985</td>, <td class="number">1.32</td>, <td class="number">104,500</td>, <td class="number">
 <span class="tah p11">0</span>
 </td>, <td class="number">
 <span class="tah p11">0.00%</span>
 </td>, <td class="number">5,000</td>, <td class="number">115,606</td>, <td class="number">137,292</td>, <td class="number">143,471</td>, <td class="number">98,126</td>, <td class="number">26,943</td>, <td class="number">1.87</td>, <td class="number">48,100</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				450
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.94%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">261,005</td>, <td class="number">296,003</td>, <td class="number">142,377</td>, <td class="number">3,481,775</td>, <td class="number">3,247,875</td>, <td class="number">0.63</td>, <td class="number">897,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.11%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">6,681</td>, <td class="number">15,618</td>, <td class="number">140,095</td>, <td class="number">45,022</td>, <td class="number">18,813</td>, <td class="number">5.94</td>, <td class="number">81,100</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				300
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.37%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">75,308</td>, <td class="number">172,557</td>, <td class="number">139,944</td>, <td class="number">194,894</td>, <td class="number">52,694</td>, <td class="number">1.03</td>, <td class="number">122,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				2,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.67%
 				</span>
 </td>, <td class="number">2,500</td>, <td class="number">156,877</td>, <td class="number">112,583</td>, <td class="number">137,351</td>, <td class="number">139,590</td>, <td class="number">75,674</td>, <td class="number">2.22</td>, <td class="number">389,000</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				8,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+2.10%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">43,454</td>, <td class="number">34,275</td>, <td class="number">133,331</td>, <td class="number">158,668</td>, <td class="number">64,660</td>, <td class="number">1.40</td>, <td class="number">155,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.64%
 				</span>
 </td>, <td class="number">100</td>, <td class="number">72,265</td>, <td class="number">85,018</td>, <td class="number">132,204</td>, <td class="number">19,574</td>, <td class="number">6,471</td>, <td class="number">8.66</td>, <td class="number">169,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.46%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">28,059</td>, <td class="number">77,378</td>, <td class="number">130,768</td>, <td class="number">68,420</td>, <td class="number">15,509</td>, <td class="number">2.54</td>, <td class="number">270,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-0.92%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">13,042</td>, <td class="number">47,375</td>, <td class="number">128,149</td>, <td class="number">682,175</td>, <td class="number">572,093</td>, <td class="number">1.05</td>, <td class="number">30,850</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.59%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">379,785</td>, <td class="number">405,363</td>, <td class="number">125,055</td>, <td class="number">508,893</td>, <td class="number">243,098</td>, <td class="number">0.47</td>, <td class="number">17,800</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				250
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.39%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">362,873</td>, <td class="number">676,000</td>, <td class="number">120,328</td>, <td class="number">3,106,827</td>, <td class="number">2,901,368</td>, <td class="number">0.59</td>, <td class="number">31,900</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				350
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+1.11%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">1,105,810</td>, <td class="number">357,816</td>, <td class="number">114,143</td>, <td class="number">248,843</td>, <td class="number">114,219</td>, <td class="number">0.88</td>, <td class="number">125,500</td>, <td class="number">
 <img alt="상승" height="6" src="http://imgstock.naver.com/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 red01">
 				+0.40%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">28,368</td>, <td class="number">82,458</td>, <td class="number">103,485</td>, <td class="number">70,884</td>, <td class="number">15,215</td>, <td class="number">3.69</td>, <td class="number">452,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				15,000
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-3.21%
 				</span>
 </td>, <td class="number">500</td>, <td class="number">129,485</td>, <td class="number">21,939</td>, <td class="number">99,164</td>, <td class="number">23,608</td>, <td class="number">4,653</td>, <td class="number">5.09</td>, <td class="number">142,500</td>, <td class="number">
 <span class="tah p11">0</span>
 </td>, <td class="number">
 <span class="tah p11">0.00%</span>
 </td>, <td class="number">500</td>, <td class="number">409,058</td>, <td class="number">67,793</td>, <td class="number">96,605</td>, <td class="number">54,841</td>, <td class="number">17,812</td>, <td class="number">2.81</td>, <td class="number">492,500</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				9,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.89%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">12,583</td>, <td class="number">18,870</td>, <td class="number">92,935</td>, <td class="number">64,826</td>, <td class="number">8,199</td>, <td class="number">1.58</td>, <td class="number">145,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,500
 				</span>
 </td>, <td class="number">
 <span class="tah p11 nv01">
 				-1.02%
 				</span>
 </td>, <td class="number">5,000</td>, <td class="number">35,367</td>, <td class="number">56,665</td>, <td class="number">82,165</td>, <td class="number">492,492</td>, <td class="number">313,594</td>, <td class="number">0.60</td>, <td class="number">14,650</td>, <td class="number">
 <span class="tah p11">0</span>
 </td>, <td class="number">
 <span class="tah p11">0.00%</span>
 </td>, <td class="number">5,000</td>, <td class="number">493,610</td>, <td class="number">559,979</td>, <td class="number">82,037</td>, <td class="number">2,568,514</td>, <td class="number">2,388,040</td>, <td class="number">0.54</td>, <td class="number">107,000</td>, <td class="number">
 <img alt="하락" height="6" src="http://imgstock.naver.com/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,000

In [20]:
all_number_classes = []
for item in piotroski_univ_sets:
    all_number_classes.append(item.string)

In [21]:
all_number_classes

['2,623,000',
 None,
 None,
 '5,000',
 '67,994',
 '129,768',
 '3,403,828',
 '2,621,743',
 '692,113',
 '1.97',
 '82,200',
 None,
 None,
 '5,000',
 '2,665,857',
 '728,002',
 '598,418',
 '322,160',
 '81,925',
 '2.42',
 '2,121,000',
 None,
 None,
 '5,000',
 '10,073',
 '18,419',
 '390,658',
 'N/A',
 'N/A',
 '1.59',
 '140,500',
 None,
 None,
 '5,000',
 '164,015',
 '220,276',
 '309,488',
 '1,788,359',
 '1,064,914',
 '0.56',
 '318,000',
 None,
 None,
 '5,000',
 '69,221',
 '87,187',
 '277,254',
 '797,630',
 '339,246',
 '0.60',
 '391,000',
 None,
 None,
 '5,000',
 '97,936',
 '70,592',
 '276,016',
 '204,871',
 '64,361',
 '2.03',
 '39,650',
 None,
 None,
 '5,000',
 '317,823',
 '641,964',
 '254,539',
 '1,778,370',
 '1,047,865',
 '0.35',
 '134,000',
 None,
 None,
 '100',
 '89,511',
 '189,690',
 '254,185',
 '444,585',
 '233,528',
 '1.21',
 '769,000',
 None,
 None,
 '500',
 '22,988',
 '32,963',
 '253,483',
 '63,706',
 '22,410',
 '6.16',
 '51,900',
 None,
 None,
 '5,000',
 '278,394',
 '474,200',
 '246,110',
 '3,956,803',
 '3,639,353',
 '0.79',
 '56,300',
 None,
 None,
 '5,000',
 '368,732',
 '418,112',
 '235,397',
 '3,756,737',
 '3,444,123',
 '0.72',
 '116,000',
 None,
 None,
 '500',
 '74,568',
 '200,000',
 '232,000',
 '2,646,538',
 '2,363,454',
 '0.78',
 '337,000',
 None,
 None,
 '2,500',
 '107,835',
 '66,165',
 '222,976',
 '75,330',
 '34,506',
 '5.46',
 '216,000',
 None,
 None,
 '5,000',
 '42,646',
 '97,344',
 '210,263',
 '417,116',
 '131,536',
 '0.72',
 '250,000',
 None,
 None,
 '500',
 '83,960',
 '80,746',
 '201,864',
 '312,977',
 '151,812',
 '1.11',
 '269,000',
 None,
 None,
 '200',
 '17,746',
 '70,360',
 '189,269',
 '1,030,473',
 '607,206',
 '1.16',
 '192,000',
 None,
 None,
 '5,000',
 '97,073',
 '92,466',
 '177,534',
 '325,813',
 '142,763',
 '1.05',
 '251,000',
 None,
 None,
 '500',
 '91,513',
 '58,458',
 '146,731',
 '51,816',
 '12,849',
 '4.46',
 '213,000',
 None,
 None,
 '5,000',
 '188,465',
 '68,765',
 '146,468',
 '149,003',
 '39,362',
 '1.34',
 '88,100',
 None,
 None,
 '5,000',
 '757,011',
 '163,648',
 '144,174',
 '378,553',
 '244,985',
 '1.32',
 '104,500',
 None,
 None,
 '5,000',
 '115,606',
 '137,292',
 '143,471',
 '98,126',
 '26,943',
 '1.87',
 '48,100',
 None,
 None,
 '5,000',
 '261,005',
 '296,003',
 '142,377',
 '3,481,775',
 '3,247,875',
 '0.63',
 '897,000',
 None,
 None,
 '5,000',
 '6,681',
 '15,618',
 '140,095',
 '45,022',
 '18,813',
 '5.94',
 '81,100',
 None,
 None,
 '5,000',
 '75,308',
 '172,557',
 '139,944',
 '194,894',
 '52,694',
 '1.03',
 '122,000',
 None,
 None,
 '2,500',
 '156,877',
 '112,583',
 '137,351',
 '139,590',
 '75,674',
 '2.22',
 '389,000',
 None,
 None,
 '5,000',
 '43,454',
 '34,275',
 '133,331',
 '158,668',
 '64,660',
 '1.40',
 '155,500',
 None,
 None,
 '100',
 '72,265',
 '85,018',
 '132,204',
 '19,574',
 '6,471',
 '8.66',
 '169,000',
 None,
 None,
 '500',
 '28,059',
 '77,378',
 '130,768',
 '68,420',
 '15,509',
 '2.54',
 '270,500',
 None,
 None,
 '500',
 '13,042',
 '47,375',
 '128,149',
 '682,175',
 '572,093',
 '1.05',
 '30,850',
 None,
 None,
 '5,000',
 '379,785',
 '405,363',
 '125,055',
 '508,893',
 '243,098',
 '0.47',
 '17,800',
 None,
 None,
 '5,000',
 '362,873',
 '676,000',
 '120,328',
 '3,106,827',
 '2,901,368',
 '0.59',
 '31,900',
 None,
 None,
 '5,000',
 '1,105,810',
 '357,816',
 '114,143',
 '248,843',
 '114,219',
 '0.88',
 '125,500',
 None,
 None,
 '500',
 '28,368',
 '82,458',
 '103,485',
 '70,884',
 '15,215',
 '3.69',
 '452,000',
 None,
 None,
 '500',
 '129,485',
 '21,939',
 '99,164',
 '23,608',
 '4,653',
 '5.09',
 '142,500',
 None,
 None,
 '500',
 '409,058',
 '67,793',
 '96,605',
 '54,841',
 '17,812',
 '2.81',
 '492,500',
 None,
 None,
 '5,000',
 '12,583',
 '18,870',
 '92,935',
 '64,826',
 '8,199',
 '1.58',
 '145,000',
 None,
 None,
 '5,000',
 '35,367',
 '56,665',
 '82,165',
 '492,492',
 '313,594',
 '0.60',
 '14,650',
 None,
 None,
 '5,000',
 '493,610',
 '559,979',
 '82,037',
 '2,568,514',
 '2,388,040',
 '0.54',
 '107,000',
 None,
 None,
 '5,000',
 '479,847',
 '74,694',
 '79,922',
 '76,626',
 '33,250',
 '1.91',
 '29,350',
 None,
 None,
 '5,000',
 '192,505',
 '261,112',
 '76,636',
 '305,877',
 '177,930',
 '0.63',
 '34,550',
 None,
 None,
 '500',
 '75,599',
 '213,940',
 '73,916',
 '39,790',
 '7,263',
 '2.15',
 '58,300',
 None,
 None,
 '500',
 '38,518',
 '123,875',
 '72,219',
 '96,220',
 '36,605',
 '1.21',
 '96,400',
 None,
 None,
 '500',
 '39,253',
 '74,818',
 '72,125',
 '19,677',
 '7,844',
 '5.97',
 '53,100',
 None,
 None,
 '5,000',
 '115,337',
 '133,446',
 '70,860',
 '323,893',
 '160,256',
 '0.43',
 '223,000',
 None,
 None,
 '5,000',
 '27,297',
 '31,491',
 '70,225',
 '419,159',
 '246,519',
 '0.40',
 '428,000',
 None,
 None,
 '5,000',
 '31,175',
 '16,287',
 '69,707',
 'N/A',
 'N/A',
 'N/A',
 '10,300',
 None,
 None,
 '5,000',
 '943,552',
 '666,316',
 '68,631',
 '572,678',
 '506,020',
 '0.80',
 '12,400',
 None,
 None,
 '100',
 '497,026',
 '533,800',
 '66,191',
 '38,597',
 '19,748',
 '3.62',
 '66,300',
 None,
 None,
 '5,000',
 '38,721',
 '92,915',
 '61,603',
 '203,412',
 '114,209',
 '0.90',
 '37,100',
 None,
 None,
 '5,000',
 '225,364',
 '164,809',
 '61,144',
 '138,179',
 '83,496',
 '1.15']

In [22]:
# Titles for each number idex
"""1. present_value = 현재가
   2. none
   3. none
   4. face_value = 액면가
   5. quant = 거래량
   6. listed_stock_cnt = 상장주식수
   7. market_sum = 시가총액 
   8. property_total = 자산총액 
   9. debt_total = 부채총액 
   10. pbr = PBR 
   """

# Slicing and creating an individual list for each category 
present_value = all_number_classes[::10]
face_value = all_number_classes[3::10]
quant = all_number_classes[4::10]
listed_stock_cnt = all_number_classes[5::10]
market_sum = all_number_classes[6::10] 
property_total = all_number_classes[7::10]
debt_total = all_number_classes[8::10]
pbr = all_number_classes[9::10]

In [23]:
# Put each category list to DF
df_piotroski['present_value'] = present_value
df_piotroski['quant'] = quant
df_piotroski['property_total'] = property_total
df_piotroski['debt_total'] = debt_total
df_piotroski['listed_stock_cnt'] = listed_stock_cnt
df_piotroski['pbr'] = pbr
df_piotroski['market_sum'] = market_sum
df_piotroski['face_value'] = face_value

In [24]:
df_piotroski

,id,name,market_type,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value,present_value
0,005930,삼성전자,1,"67,994","3,403,828","2,621,743","692,113","129,768",1.97,"5,000","2,623,000"
1,000660,SK하이닉스,1,"2,665,857","598,418","322,160","81,925","728,002",2.42,"5,000","82,200"
2,005935,삼성전자우,1,"10,073","390,658",N/A,N/A,"18,419",1.59,"5,000","2,121,000"
3,005380,현대차,1,"164,015","309,488","1,788,359","1,064,914","220,276",0.56,"5,000","140,500"
4,005490,POSCO,1,"69,221","277,254","797,630","339,246","87,187",0.60,"5,000","318,000"
5,051910,LG화학,1,"97,936","276,016","204,871","64,361","70,592",2.03,"5,000","391,000"
6,015760,한국전력,1,"317,823","254,539","1,778,370","1,047,865","641,964",0.35,"5,000","39,650"
7,028260,삼성물산,1,"89,511","254,185","444,585","233,528","189,690",1.21,100,"134,000"
8,035420,NAVER,1,"22,988","253,483","63,706","22,410","32,963",6.16,500,"769,000"
9,055550,신한지주,1,"278,394","246,110","3,956,803","3,639,353","474,200",0.79,"5,000","51,900"
10,105560,KB금융,1,"368,732","235,397","3,756,737","3,444,123","418,112",0.72,"5,000","56,300"
11,032830,삼성생명,1,"74,568","232,000","2,646,538","2,363,454","200,000",0.78,500,"116,000"
12,207940,삼성바이오로직스,1,"107,835","222,976","75,330","34,506","66,165",5.46,"2,500","337,000"
13,012330,현대모비스,1,"42,646","210,263","417,116","131,536","97,344",0.72,"5,000","216,000"
14,017670,SK텔레콤,1,"83,960","201,864","312,977","151,812","80,746",1.11,500,"250,000"
15,034730,SK,1,"17,746","189,269","1,030,473","607,206","70,360",1.16,200,"269,000"
16,096770,SK이노베이션,1,"97,073","177,534","325,813","142,763","92,466",1.05,"5,000","192,000"
17,090430,아모레퍼시픽,1,"91,513","146,731","51,816","12,849","58,458",4.46,500,"251,000"
18,006400,삼성SDI,1,"188,465","146,468","149,003","39,362","68,765",1.34,"5,000","213,000"
19,066570,LG전자,1,"757,011","144,174","378,553","244,985","163,648",1.32,"5,000","88,100"
20,033780,KT&amp;G,1,"115,606","143,471","98,126","26,943","137,292",1.87,"5,000","104,500"
21,086790,하나금융지주,1,"261,005","142,377","3,481,775","3,247,875","296,003",0.63,"5,000","48,100"
22,051900,LG생활건강,1,"6,681","140,095","45,022","18,813","15,618",5.94,"5,000","897,000"
23,003550,LG,1,"75,308","139,944","194,894","52,694","172,557",1.03,"5,000","81,100"
24,010950,S-Oil,1,"156,877","137,351","139,590","75,674","112,583",2.22,"2,500","122,000"
25,011170,롯데케미칼,1,"43,454","133,331","158,668","64,660","34,275",1.40,"5,000","389,000"
26,251270,넷마블게임즈,1,"72,265","132,204","19,574","6,471","85,018",8.66,100,"155,500"
27,018260,삼성에스디에스,1,"28,059","130,768","68,420","15,509","77,378",2.54,500,"169,000"
28,000810,삼성화재,1,"13,042","128,149","682,175","572,093","47,375",1.05,500,"270,500"
29,000270,기아차,1,"379,785","125,055","508,893","243,098","405,363",0.47,"5,000","30,850"
30,000030,우리은행,1,"362,873","120,328","3,106,827","2,901,368","676,000",0.59,"5,000","17,800"
31,034220,LG디스플레이,1,"1,105,810","114,143","248,843","114,219","357,816",0.88,"5,000","31,900"
32,002790,아모레G,1,"28,368","103,485","70,884","15,215","82,458",3.69,500,"125,500"
33,036570,엔씨소프트,1,"129,485","99,164","23,608","4,653","21,939",5.09,500,"452,000"
34,035720,카카오,1,"409,058","96,605","54,841","17,812","67,793",2.81,500,"142,500"
35,010130,고려아연,1,"12,583","92,935","64,826","8,199","18,870",1.58,"5,000","492,500"
36,009540,현대중공업,1,"35,367","82,165","492,492","313,594","56,665",0.60,"5,000","145,000"
37,024110,기업은행,1,"493,610","82,037","2,568,514","2,388,040","559,979",0.54,"5,000","14,650"
38,009150,삼성전기,1,"479,847","79,922","76,626","33,250","74,694",1.91,"5,000","107,000"
39,030200,KT,1,"192,505","76,636","305,877","177,930","261,112",0.63,"5,000","29,350"
40,035250,강원랜드,1,"75,599","73,916","39,790","7,263","213,940",2.15,500,"34,550"
41,161390,한국타이어,1,"38,518","72,219","96,220","36,605","123,875",1.21,500,"58,300"
42,021240,코웨이,1,"39,253","72,125","19,677","7,844","74,818",5.97,500,"96,400"
43,004020,현대제철,1,"115,337","70,860","323,893","160,256","133,446",0.43,"5,000","53,100"
44,023530,롯데쇼핑,1,"27,297","70,225","419,159","246,519","31,491",0.40,"5,000","223,000"
45,267250,현대로보틱스,1,"31,175","69,707",N/A,N/A,"16,287",N/A,"5,000","428,000"
46,006800,미래에셋대우,1,"943,552","68,631","572,678","506,020","666,316",0.80,"5,000","10,300"
47,018880,한온시스템,1,"497,026","66,191","38,597","19,748","533,800",3.62,100,"12,400"
48,078930,GS,1,"38,721","61,603","203,412","114,209","92,915",0.90,"5,000","66,300"
49,009830,한화케미칼,1,"225,364","61,144","138,179","83,496","164,809",1.15,"5,000","37,100"

#### ----- BREAK -----

##### Part II : Flipping pages 1 ~ 27

In [33]:
# Looping KOSPI!

page_num = 1 # KOSPI 27 pages

stock_id_ls = []
stock_name_ls = [] 

all_number_classes = [] 

for num in range(1, page_num + 28): 
    url_p = "http://finance.naver.com/sise/field_submit.nhn?menu=market_sum&returnUrl=http%3A%2F%2Ffinance.naver.com%2Fsise%2Fsise_market_sum.nhn%3Fsosok%3D{0}%26page%3D{1}&fieldIds={2}&fieldIds={3}&fieldIds={4}&fieldIds={5}&fieldIds={6}&fieldIds={7}".format('0',
                                                                                                                                                                                                                                                                   num, 
                                                                                                                                                                                                                                                                   'quant',
                                                                                                                                                                                                                                                                   'listed_stock_cnt',
                                                                                                                                                                                                                                                                   'market_sum',
                                                                                                                                                                                                                                                                   'property_total',
                                                                                                                                                                                                                                                                   'debt_total',
                                                                                                                                                                                                                                                                   'pbr')
    
    r = requests.get(url_p)
    html = r.text 
    
    soup = BeautifulSoup(html, 'lxml')
    
    stock_ids = soup.select('a[href*="/item/main.nhn"]')
    piotroski_univ_sets = soup.select('td[class^="number"]')
    
    # Looping stock ids and names 
    for id in stock_ids: 
        stock_id_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[0])
        stock_name_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[1])
        
    # Looping Number Classes for each stock
    for item in piotroski_univ_sets: 
        all_number_classes.append(item.string)

In [34]:
# Convert stock ids & names lists to Pandas DF 
df_piotroski = pd.DataFrame({'id' : stock_id_ls, 'name': stock_name_ls, 'market_type': 1}, columns = ['id', 'name','market_type', 'quant', 'market_sum', 'property_total', 'debt_total', 'listed_stock_cnt', 'pbr', 'face_value',])

# Slicing and creating an individual list for each category 
present_value = all_number_classes[::10]
face_value = all_number_classes[3::10]
quant = all_number_classes[4::10]
listed_stock_cnt = all_number_classes[5::10]
market_sum = all_number_classes[6::10] 
property_total = all_number_classes[7::10]
debt_total = all_number_classes[8::10]
pbr = all_number_classes[9::10] 

# Put each category list to DF
df_piotroski['present_value'] = present_value
df_piotroski['quant'] = quant
df_piotroski['property_total'] = property_total
df_piotroski['debt_total'] = debt_total
df_piotroski['listed_stock_cnt'] = listed_stock_cnt
df_piotroski['pbr'] = pbr
df_piotroski['market_sum'] = market_sum
df_piotroski['face_value'] = face_value

In [35]:
df_piotroski

,id,name,market_type,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value,present_value
0,005930,삼성전자,1,"68,992","3,407,721","2,621,743","692,113","129,768",1.97,"5,000","2,626,000"
1,000660,SK하이닉스,1,"2,788,978","600,602","322,160","81,925","728,002",2.43,"5,000","82,500"
2,005935,삼성전자우,1,"10,154","390,842",N/A,N/A,"18,419",1.59,"5,000","2,122,000"
3,005380,현대차,1,"165,094","308,387","1,788,359","1,064,914","220,276",0.56,"5,000","140,000"
4,005490,POSCO,1,"69,476","277,254","797,630","339,246","87,187",0.60,"5,000","318,000"
5,051910,LG화학,1,"98,215","276,016","204,871","64,361","70,592",2.03,"5,000","391,000"
6,015760,한국전력,1,"343,856","253,897","1,778,370","1,047,865","641,964",0.35,"5,000","39,550"
7,035420,NAVER,1,"23,085","253,483","63,706","22,410","32,963",6.16,500,"769,000"
8,028260,삼성물산,1,"89,936","253,236","444,585","233,528","189,690",1.20,100,"133,500"
9,055550,신한지주,1,"284,457","245,635","3,956,803","3,639,353","474,200",0.79,"5,000","51,800"
10,105560,KB금융,1,"376,507","235,397","3,756,737","3,444,123","418,112",0.72,"5,000","56,300"
11,032830,삼성생명,1,"75,060","233,000","2,646,538","2,363,454","200,000",0.79,500,"116,500"
12,207940,삼성바이오로직스,1,"108,052","223,307","75,330","34,506","66,165",5.47,"2,500","337,500"
13,012330,현대모비스,1,"43,178","210,749","417,116","131,536","97,344",0.72,"5,000","216,500"
14,017670,SK텔레콤,1,"84,172","201,461","312,977","151,812","80,746",1.10,500,"249,500"
15,034730,SK,1,"18,951","189,269","1,030,473","607,206","70,360",1.16,200,"269,000"
16,096770,SK이노베이션,1,"97,796","177,534","325,813","142,763","92,466",1.05,"5,000","192,000"
17,090430,아모레퍼시픽,1,"92,170","147,023","51,816","12,849","58,458",4.47,500,"251,500"
18,006400,삼성SDI,1,"193,078","146,125","149,003","39,362","68,765",1.34,"5,000","212,500"
19,066570,LG전자,1,"762,663","144,010","378,553","244,985","163,648",1.32,"5,000","88,000"
20,033780,KT&amp;G,1,"118,604","142,784","98,126","26,943","137,292",1.86,"5,000","104,000"
21,086790,하나금융지주,1,"264,697","142,377","3,481,775","3,247,875","296,003",0.63,"5,000","48,100"
22,003550,LG,1,"76,482","140,116","194,894","52,694","172,557",1.03,"5,000","81,200"
23,051900,LG생활건강,1,"6,698","140,095","45,022","18,813","15,618",5.94,"5,000","897,000"
24,010950,S-Oil,1,"157,611","137,351","139,590","75,674","112,583",2.22,"2,500","122,000"
25,011170,롯데케미칼,1,"44,095","133,503","158,668","64,660","34,275",1.40,"5,000","389,500"
26,251270,넷마블게임즈,1,"72,623","132,204","19,574","6,471","85,018",8.66,100,"155,500"
27,018260,삼성에스디에스,1,"28,092","130,768","68,420","15,509","77,378",2.54,500,"169,000"
28,000810,삼성화재,1,"13,227","128,149","682,175","572,093","47,375",1.05,500,"270,500"
29,000270,기아차,1,"382,980","125,257","508,893","243,098","405,363",0.47,"5,000","30,900"
...,...,...,...,...,...,...,...,...,...,...,...
1327,000995,동부하이텍1우,1,8,43,N/A,N/A,112,4.90,"5,000","38,700"
1328,005965,동부건설우,1,7,43,N/A,N/A,226,1.60,"5,000","19,200"
1329,004835,덕성우,1,"1,566",43,N/A,N/A,"1,392",0.73,500,"3,110"
1330,001065,JW중외제약우,1,"1,011",42,N/A,N/A,161,2.00,"2,500","26,200"
1331,227560,TIGER 200 생활소비재,1,16,42,N/A,N/A,340,N/A,0,"12,280"
1332,001527,동양2우B,1,199,40,N/A,N/A,309,3.20,500,"13,100"
1333,004985,성신양회우,1,621,40,N/A,N/A,736,0.42,"5,000","5,430"
1334,161500,ARIRANG 경기주도주,1,102,40,N/A,N/A,600,N/A,0,"6,610"
1335,016385,동부제철우,1,66,40,N/A,N/A,160,4.99,"5,000","24,700"
1336,000325,노루홀딩스우,1,139,39,N/A,N/A,185,0.63,500,"21,200"
1337,227550,TIGER 200 산업재,1,253,39,N/A,N/A,660,N/A,0,"5,855"
1338,001067,JW중외제약2우B,1,"2,652",38,N/A,N/A,84,3.41,"2,500","44,700"
1339,000227,유유제약2우B,1,"48,876",38,N/A,N/A,164,2.08,"1,000","22,950"
1340,002785,진흥기업우B,1,"1,059",37,N/A,N/A,857,-35.76,500,"4,365"
1341,253160,ARIRANG 200선물인버스2X,1,485,37,N/A,N/A,300,N/A,0,"12,340"
1342,000547,흥국화재2우B,1,"4,278",35,N/A,N/A,154,2.71,"5,000","23,000"
1343,139310,TIGER 금속선물(H),1,"1,210",35,N/A,N/A,600,N/A,0,"5,810"
1344,140580,KBSTAR 우량업종,1,3,35,N/A,N/A,300,N/A,0,"11,525"
1345,001799,대한제당3우B,1,14,34,N/A,N/A,130,0.53,"2,500","26,200"
1346,157510,TIGER 자동차,1,435,34,N/A,N/A,260,N/A,0,"12,930"
1347,013367,일성건설2우B,1,"4,865",31,N/A,N/A,621,2.79,500,"5,030"
1348,008355,남선알미우,1,791,29,N/A,N/A,308,8.41,500,"9,330"
1349,002787,진흥기업2우B,1,"3,779",27,N/A,N/A,295,-75.12,500,"9,170"
1350,004989,성신양회3우B,1,425,24,N/A,N/A,287,0.66,"5,000","8,420"
1351,001529,동양3우B,1,428,23,N/A,N/A,90,6.21,500,"25,400"
1352,004987,성신양회2우B,1,"2,605",23,N/A,N/A,221,0.81,"5,000","10,300"
1353,161490,ARIRANG 경기방어주,1,0,23,N/A,N/A,300,N/A,0,"7,570"
1354,000327,노루홀딩스2우B,1,0,18,N/A,N/A,93,0.58,500,"19,600"
1355,520022,미래에셋 K200 Call 1809-01 ETN,1,0,0,N/A,N/A,700,N/A,0,"10,430"
1356,520023,미래에셋 K200 Call 1809-02 ETN,1,0,0,N/A,N/A,700,N/A,0,"10,320"

In [37]:
# Looping Kosdaq 
page_num = 1 # KOSDAQ 26pages

kosdaq_id_ls = [] 
kosdaq_name_ls = []

kosdaq_number_classes = []

for num in range(1, page_num + 27):
    url_p = "http://finance.naver.com/sise/field_submit.nhn?menu=market_sum&returnUrl=http%3A%2F%2Ffinance.naver.com%2Fsise%2Fsise_market_sum.nhn%3Fsosok%3D{0}%26page%3D{1}&fieldIds={2}&fieldIds={3}&fieldIds={4}&fieldIds={5}&fieldIds={6}&fieldIds={7}".format('1',
                                                                                                                                                                                                                                                                   num, 
                                                                                                                                                                                                                                                                   'quant',
                                                                                                                                                                                                                                                                   'listed_stock_cnt',
                                                                                                                                                                                                                                                                   'market_sum',
                                                                                                                                                                                                                                                                   'property_total',
                                                                                                                                                                                                                                                                   'debt_total',
                                                                                                                                                                                                                                                                   'pbr')
    
    r = requests.get(url_p)
    html = r.text 
    
    soup = BeautifulSoup(html, 'lxml')
    
    kosdaq_ids = soup.select('a[href*="/item/main.nhn"]')
    piotroski_univ_sets_kosdaq = soup.select('td[class^="number"]')
    
    # Looping KOSDAQ ids and names 
    for id in kosdaq_ids:
        kosdaq_id_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[0])
        kosdaq_name_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[1])
    
    # Looping Number classes for each stock 
    for item in piotroski_univ_sets_kosdaq: 
        kosdaq_number_classes.append(item.string)

In [44]:
# convert KOSDAQ ids & names lists to Pandas DF 
df_kosdaq = pd.DataFrame({'id' : kosdaq_id_ls, 'name' : kosdaq_name_ls, 'market_type' : 2}, columns = ['id', 'name','market_type', 'quant', 'market_sum', 'property_total', 'debt_total', 'listed_stock_cnt', 'pbr', 'face_value',])

In [45]:
df_kosdaq

,id,name,market_type,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value
0,068270,셀트리온,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,091990,셀트리온헬스케어,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,086900,메디톡스,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,130960,CJ E&amp;M,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,215600,신라젠,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,145020,휴젤,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,016170,로엔,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,041960,코미팜,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,084990,바이로메드,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,003670,포스코켐텍,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,036490,SK머티리얼즈,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,078340,컴투스,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,151910,나노스,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,263750,펄어비스,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,046890,서울반도체,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,056190,에스에프에이,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,240810,원익IPS,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,028150,GS홈쇼핑,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,035760,CJ오쇼핑,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,034230,파라다이스,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,003380,제일홀딩스,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,051370,인터플렉스,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,022100,포스코 ICT,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,102940,코오롱생명과학,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,036830,솔브레인,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,066970,엘앤에프,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,192080,더블유게임즈,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,048260,오스템임플란트,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,178920,SKC코오롱PI,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,005290,동진쎄미켐,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1222,250930,케이비제10호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1223,225590,신영스팩2호,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1224,262830,대신밸런스제4호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225,217810,엔에이치스팩7호,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226,235010,하이에이아이1호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1227,219580,골든브릿지제3호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1228,265480,미래에셋대우스팩1호,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,239340,미래에셋제5호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1230,217500,하이제3호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1231,270520,하나금융10호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1232,254120,IBKS제5호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1233,226440,동부스팩3호,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1234,225430,IBKS제3호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235,265920,한화수성스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236,264850,IBKS제6호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,261200,하나금융9호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,225440,이베스트스팩3호,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1239,267320,교보7호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,271740,한국제5호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1241,218150,하나머스트5호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1242,206660,골든브릿지제2호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1243,257730,신한제3호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1244,232330,SK3호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1245,021045,대호피앤씨우,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1246,258790,케이비제11호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,215100,하나머스트4호스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1248,264290,한화에이스스팩3호,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1249,263770,신영스팩3호,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1250,207720,엔에이치SL스팩,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1251,032685,소프트센우,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Slicing and Put into df_kosdaq
# Slicing and creating an individual list for each category 
present_value = kosdaq_number_classes[::10]
face_value = kosdaq_number_classes[3::10]
quant = kosdaq_number_classes[4::10]
listed_stock_cnt = kosdaq_number_classes[5::10]
market_sum = kosdaq_number_classes[6::10] 
property_total = kosdaq_number_classes[7::10]
debt_total = kosdaq_number_classes[8::10]
pbr = kosdaq_number_classes[9::10] 

# Put each category list to DF
df_kosdaq['present_value'] = present_value
df_kosdaq['quant'] = quant
df_kosdaq['property_total'] = property_total
df_kosdaq['debt_total'] = debt_total
df_kosdaq['listed_stock_cnt'] = listed_stock_cnt
df_kosdaq['pbr'] = pbr
df_kosdaq['market_sum'] = market_sum
df_kosdaq['face_value'] = face_value

In [48]:
# Append KOSPI & KOSDAQ
frames = [df_piotroski, df_kosdaq]

In [51]:
df_piotroski_all = pd.concat(frames, ignore_index=True)

In [52]:
df_piotroski_all

,id,name,market_type,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value,present_value
0,005930,삼성전자,1,"68,992","3,407,721","2,621,743","692,113","129,768",1.97,"5,000","2,626,000"
1,000660,SK하이닉스,1,"2,788,978","600,602","322,160","81,925","728,002",2.43,"5,000","82,500"
2,005935,삼성전자우,1,"10,154","390,842",N/A,N/A,"18,419",1.59,"5,000","2,122,000"
3,005380,현대차,1,"165,094","308,387","1,788,359","1,064,914","220,276",0.56,"5,000","140,000"
4,005490,POSCO,1,"69,476","277,254","797,630","339,246","87,187",0.60,"5,000","318,000"
5,051910,LG화학,1,"98,215","276,016","204,871","64,361","70,592",2.03,"5,000","391,000"
6,015760,한국전력,1,"343,856","253,897","1,778,370","1,047,865","641,964",0.35,"5,000","39,550"
7,035420,NAVER,1,"23,085","253,483","63,706","22,410","32,963",6.16,500,"769,000"
8,028260,삼성물산,1,"89,936","253,236","444,585","233,528","189,690",1.20,100,"133,500"
9,055550,신한지주,1,"284,457","245,635","3,956,803","3,639,353","474,200",0.79,"5,000","51,800"
10,105560,KB금융,1,"376,507","235,397","3,756,737","3,444,123","418,112",0.72,"5,000","56,300"
11,032830,삼성생명,1,"75,060","233,000","2,646,538","2,363,454","200,000",0.79,500,"116,500"
12,207940,삼성바이오로직스,1,"108,052","223,307","75,330","34,506","66,165",5.47,"2,500","337,500"
13,012330,현대모비스,1,"43,178","210,749","417,116","131,536","97,344",0.72,"5,000","216,500"
14,017670,SK텔레콤,1,"84,172","201,461","312,977","151,812","80,746",1.10,500,"249,500"
15,034730,SK,1,"18,951","189,269","1,030,473","607,206","70,360",1.16,200,"269,000"
16,096770,SK이노베이션,1,"97,796","177,534","325,813","142,763","92,466",1.05,"5,000","192,000"
17,090430,아모레퍼시픽,1,"92,170","147,023","51,816","12,849","58,458",4.47,500,"251,500"
18,006400,삼성SDI,1,"193,078","146,125","149,003","39,362","68,765",1.34,"5,000","212,500"
19,066570,LG전자,1,"762,663","144,010","378,553","244,985","163,648",1.32,"5,000","88,000"
20,033780,KT&amp;G,1,"118,604","142,784","98,126","26,943","137,292",1.86,"5,000","104,000"
21,086790,하나금융지주,1,"264,697","142,377","3,481,775","3,247,875","296,003",0.63,"5,000","48,100"
22,003550,LG,1,"76,482","140,116","194,894","52,694","172,557",1.03,"5,000","81,200"
23,051900,LG생활건강,1,"6,698","140,095","45,022","18,813","15,618",5.94,"5,000","897,000"
24,010950,S-Oil,1,"157,611","137,351","139,590","75,674","112,583",2.22,"2,500","122,000"
25,011170,롯데케미칼,1,"44,095","133,503","158,668","64,660","34,275",1.40,"5,000","389,500"
26,251270,넷마블게임즈,1,"72,623","132,204","19,574","6,471","85,018",8.66,100,"155,500"
27,018260,삼성에스디에스,1,"28,092","130,768","68,420","15,509","77,378",2.54,500,"169,000"
28,000810,삼성화재,1,"13,227","128,149","682,175","572,093","47,375",1.05,500,"270,500"
29,000270,기아차,1,"382,980","125,257","508,893","243,098","405,363",0.47,"5,000","30,900"
...,...,...,...,...,...,...,...,...,...,...,...
2579,250930,케이비제10호스팩,2,"1,842",104,118,16,"5,210",N/A,100,"2,005"
2580,225590,신영스팩2호,2,0,102,120,18,"5,105",N/A,100,"2,000"
2581,262830,대신밸런스제4호스팩,2,0,100,N/A,N/A,"5,010",N/A,100,"2,005"
2582,217810,엔에이치스팩7호,2,0,100,100,9,"4,830",N/A,100,"2,070"
2583,235010,하이에이아이1호스팩,2,"2,350",99,109,13,"4,950",N/A,100,"2,005"
2584,219580,골든브릿지제3호스팩,2,0,99,103,9,"4,900",N/A,100,"2,020"
2585,265480,미래에셋대우스팩1호,2,0,99,N/A,N/A,"4,840",N/A,100,"2,045"
2586,239340,미래에셋제5호스팩,2,"3,615",98,103,10,"4,800",N/A,100,"2,045"
2587,217500,하이제3호스팩,2,"36,842",96,100,10,"4,750",N/A,100,"2,020"
2588,270520,하나금융10호스팩,2,"1,008",93,N/A,N/A,"4,602",N/A,100,"2,030"
2589,254120,IBKS제5호스팩,2,"2,811",91,96,12,"4,500",N/A,100,"2,015"
2590,226440,동부스팩3호,2,2,91,99,12,"4,450",N/A,100,"2,035"
2591,225430,IBKS제3호스팩,2,"20,000",90,99,15,"4,500",N/A,100,"2,010"
2592,265920,한화수성스팩,2,0,89,N/A,N/A,"4,440",N/A,100,"2,005"
2593,264850,IBKS제6호스팩,2,504,87,N/A,N/A,"4,315",N/A,100,"2,015"
2594,261200,하나금융9호스팩,2,"2,510",86,N/A,N/A,"4,260",N/A,100,"2,010"
2595,225440,이베스트스팩3호,2,0,83,95,13,"4,100",N/A,100,"2,025"
2596,267320,교보7호스팩,2,"5,668",81,N/A,N/A,"4,020",N/A,100,"2,005"
2597,271740,한국제5호스팩,2,0,81,N/A,N/A,"4,000",N/A,100,"2,015"
2598,218150,하나머스트5호스팩,2,"116,530",80,86,15,"3,530",N/A,100,"2,255"
2599,206660,골든브릿지제2호스팩,2,500,80,11,6,"3,900",16.97,100,"2,040"
2600,257730,신한제3호스팩,2,"5,339",73,12,6,"3,505",N/A,100,"2,090"
2601,232330,SK3호스팩,2,"19,002",73,78,10,"3,600",N/A,100,"2,030"
2602,021045,대호피앤씨우,2,"17,882",69,N/A,N/A,"4,242",2.38,500,"1,625"
2603,258790,케이비제11호스팩,2,0,68,N/A,N/A,"3,210",N/A,100,"2,110"
2604,215100,하나머스트4호스팩,2,"50,311",67,69,13,"2,800",N/A,100,"2,395"
2605,264290,한화에이스스팩3호,2,12,66,N/A,N/A,"3,080",N/A,100,"2,135"
2606,263770,신영스팩3호,2,"2,728",54,N/A,N/A,"2,605",N/A,100,"2,090"
2607,207720,엔에이치SL스팩,2,"2,005",51,49,4,"2,505",1.14,100,"2,040"
2608,032685,소프트센우,2,"1,872",33,N/A,N/A,143,22.45,500,"23,050"

In [53]:
stocks = df_piotroski_all[['id', 'name', 'market_type']]

In [54]:
stocks = stocks.rename(columns = {'id' : 'stock_code', 'name' : 'company'})

In [55]:
stocks.head()

  stock_code company  market_type
0     005930    삼성전자            1
1     000660  SK하이닉스            1
2     005935   삼성전자우            1
3     005380     현대차            1
4     005490   POSCO            1

In [56]:
stocks.tail()

     stock_code    company  market_type
2604     215100  하나머스트4호스팩            2
2605     264290  한화에이스스팩3호            2
2606     263770     신영스팩3호            2
2607     207720   엔에이치SL스팩            2
2608     032685      소프트센우            2

#### ------ BREAK -----

##### Part III. Put the DF to PostgreSQL

In [1]:
# Importing relavent packages from sqlalchemy ORM
from datetime import datetime

from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, DateTime, ForeignKey
from sqlalchemy.orm import relationship, backref, sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [2]:
db_string = "postgresql://daesik:@localhost/db_piotroski"

engine = create_engine(db_string, echo=True)

In [3]:
Session = sessionmaker(bind=engine)
session = Session()

In [4]:
Base = declarative_base()

In [5]:
class Stock(Base):
    __tablename__ = 'stocks'
    
    stock_id = Column(Integer, primary_key=True)
    stock_code = Column(String, unique=True, nullable=False)
    company = Column(String, index=True, unique=True, nullable=False)
    market_type = Column(Integer)
    industry = Column(String)
    created_on = Column(DateTime, default=datetime.utcnow)
    updated_on = Column(DateTime, default=datetime.utcnow)
    
    # one-to-many & many-to-one relationship setting, if needed
    base_param = relationship("BaseParam", back_populates="stocks")
    bookmarket_param = relationship("BookMarketParam", back_populates="stocks")
    
    def __repr__(self): 
        return "<Stock --> id : {0}, code : {1}, company : {2}, market_type : {3}, created : {4}, updated : {5}>".format(self.stock_id, 
                                                                                                                         self.stock_code, 
                                                                                                                         self.company, 
                                                                                                                         self.market_type, 
                                                                                                                         self.created_on, 
                                                                                                                         self.updated_on,)

In [6]:
class BaseParam(Base): 
    __tablename__= 'base_params'
    
    baseparam_id = Column(Integer, primary_key=True)
    stock_code = Column(String, ForeignKey('stocks.stock_code'))
    date = Column(DateTime)
    price_open = Column(Integer)
    price_close = Column(Integer)
    price_high = Column(Integer)
    price_low = Column(Integer)
    quant = Column(Integer)
    market_sum = Column(Integer)
    
    # one-to-many relationship setting
    stock = relationship("Stock", back_populates="base_params")
    
    # 거래량, 향후 volume으로 변경가능. 네이버 파라미터와 맞추기 위해 quant 사용

In [7]:
class BookMarketParam(Base):
    __tablename__= 'bookmarket_params'
    
    bookmarketparam_id = Column(Integer, primary_key=True)
    stock_code = Column(String, ForeignKey('stocks.stock_code'))
    listed_stock_cnt = Column(Integer)
    property_total = Column(Integer)
    debt_total = Column(Integer)
    pbr = Column(Integer)
    
    # one-to-many relationship setting
    stock = relationship('Stock', back_populates='bookmarket_params')
    
    
    # 회사이름 및 분기 컬럼 추가??? 재무제표 관련 자료

In [8]:
Base.metadata.create_all(engine)

2017-09-22 23:50:20,277 INFO sqlalchemy.engine.base.Engine select version()
2017-09-22 23:50:20,278 INFO sqlalchemy.engine.base.Engine {}
2017-09-22 23:50:20,283 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-22 23:50:20,285 INFO sqlalchemy.engine.base.Engine {}
2017-09-22 23:50:20,288 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-22 23:50:20,289 INFO sqlalchemy.engine.base.Engine {}
2017-09-22 23:50:20,293 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-22 23:50:20,295 INFO sqlalchemy.engine.base.Engine {}
2017-09-22 23:50:20,298 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-22 23:50:20,300 INFO sqlalchemy.engine.base.Engine {}
2017-09-22 23:50:20,306 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-22 23:50:20,308 INFO sqlalchemy.engine.base.Engine {'name': 'stocks'}
2017-09-22 23:50:20,312 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-22 23:50:20,315 INFO sqlalchemy.engine.base.Engine {'name': 'base_params'}
2017-09-22 23:50:20,319 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-22 23:50:20,321 INFO sqlalchemy.engine.base.Engine {'name': 'bookmarket_params'}

In [10]:
# send data to PostgreSQL 
stocks.to_sql('stocks', engine, index = False, if_exists = 'append')

NameError: name 'stocks' is not defined