##### From the file "crawler4piotroski_fscore_selenium"

=> flipping stock codes

In [1]:
# importing packages 
from datetime import datetime
import time
import random

import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC 

# sqlalchemy packages 
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, Numeric, String, DateTime, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.ext.declarative import declarative_base

In [2]:
# Headless Chrome
options = webdriver.ChromeOptions()
#options.add_argument('headless')
#options.add_argument('window-size=1920x1080')
options.add_argument('user-agent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit 537.36 (KHTML, like Gecko) Chrome')

In [3]:
# Start Chrome with Selenium
driver = webdriver.Chrome('/Users/daesikkim/Downloads/chromedriver', chrome_options=options) # chrome_options=options
driver.implicitly_wait(3)

In [4]:
# Get the stock data from DB(postgresql)
db_string = "postgresql://daesik:@localhost/db_piotroski"

engine = create_engine(db_string, echo=True)

In [5]:
Session = sessionmaker(bind=engine)
session = Session()

In [6]:
Base = declarative_base()

In [7]:
# Mapping 
class Stock(Base): 
    __tablename__ = 'stocks'
    
    stock_id = Column(Integer, primary_key=True)
    stock_code = Column(String, unique=True, nullable=False, primary_key=True)
    company = Column(String, index=True, unique=True, nullable=False)
    market_type = Column(Integer)
    m_ics = Column(String) 
    w_ics = Column(String)
    created_on = Column(DateTime, default=datetime.utcnow)
    updated_on = Column(DateTime, default=datetime.utcnow)
    
    base_param = relationship('BaseParam', back_populates='stock')
    bookmarket_param = relationship('BookMarketParam', back_populates='stock')
    
    # def __repr__(self):
    #    return "<Stock ==> id : {0}, code : {1}, company : {2}, market_type : {3}, created : {4}, updated : {5}>".format(self.stock_id, 
    #                                                                                                                     self.stock_code, 
    #                                                                                                                     self.company,
    #                                                                                                                     self.market_type,
    #                                                                                                                     self.created_on,
    #                                                                                                                     self.updated_on,)

In [8]:
class BaseParam(Base): 
    __tablename__ = 'base_params'
    
    baseparam_id = Column(Integer, primary_key=True)
    stock_code = Column(String, ForeignKey('stocks.stock_code'))
    date = Column(DateTime)
    price_open = Column(Integer)
    price_close = Column(Integer) 
    price_high = Column(Integer)
    price_low = Column(Integer)
    quant = Column(Integer)
    market_sum = Column(Integer)
    
    stock = relationship("Stock", back_populates="base_param")

In [9]:
class BookMarketParam(Base): 
    __tablename__ = 'bookmarket_params'
    
    bookmarketparam_id = Column(Integer, primary_key=True)
    stock_code = Column(String, ForeignKey('stocks.stock_code'))
    listed_stock_cnt = Column(Integer)
    property_total = Column(Integer)
    debt_total = Column(Integer)
    pbr = Column(Integer)
    
    stock = relationship('Stock', back_populates='bookmarket_param')

In [11]:
Base.metadata.create_all(engine)

2017-11-23 00:08:12,526 INFO sqlalchemy.engine.base.Engine select version()
2017-11-23 00:08:12,527 INFO sqlalchemy.engine.base.Engine {}
2017-11-23 00:08:12,532 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-11-23 00:08:12,533 INFO sqlalchemy.engine.base.Engine {}
2017-11-23 00:08:12,537 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-11-23 00:08:12,539 INFO sqlalchemy.engine.base.Engine {}
2017-11-23 00:08:12,543 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-11-23 00:08:12,547 INFO sqlalchemy.engine.base.Engine {}
2017-11-23 00:08:12,550 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-11-23 00:08:12,551 INFO sqlalchemy.engine.base.Engine {}
2017-11-23 00:08:12,554 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-11-23 00:08:12,556 INFO sqlalchemy.engine.base.Engine {'name': 'stocks'}
2017-11-23 00:08:12,564 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-11-23 00:08:12,565 INFO sqlalchemy.engine.base.Engine {'name': 'base_params'}
2017-11-23 00:08:12,568 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-11-23 00:08:12,569 INFO sqlalchemy.engine.base.Engine {'name': 'bookmarket_params'}

In [12]:
code_n_name = session.query(Stock.stock_code, Stock.company).all()

2017-11-23 00:08:13,210 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-23 00:08:13,212 INFO sqlalchemy.engine.base.Engine SELECT stocks.stock_code AS stocks_stock_code, stocks.company AS stocks_company
FROM stocks
2017-11-23 00:08:13,214 INFO sqlalchemy.engine.base.Engine {}

In [13]:
code_n_name = dict(code_n_name[0:5]) # Adjust number of codes in the future. For development purpose, codes are limited to 5

In [14]:
# A function to crawl the industry classification, Market & ICS 
def crawl_ics(code): 
    #pArea > div.wrapper-table > div > table > tbody > tr:nth-child(1) > td > dl > dt:nth-child(3)
    # getting the page source and making the soup! 
    html_ics = driver.page_source 
    soup_ics = BeautifulSoup(html_ics, 'lxml')
    
    # getting valus for ICS 
    m_ics = soup_ics.select('#pArea > div.wrapper-table > div > table > tbody > tr:nth-of-type(1) > td > dl > dt:nth-of-type(3)')
    w_ics = soup_ics.select('#pArea > div.wrapper-table > div > table > tbody > tr:nth-of-type(1) > td > dl > dt:nth-of-type(4)')
    
    m_ics = m_ics[0].string.split(' : ')[-1]
    w_ics = w_ics[0].string.split(' : ')[-1]
    
    ics = {'m_ics': [m_ics]*5, 'w_ics': [w_ics]*5}
    
    return ics

In [24]:
# A function to crawl a balance sheet
def crawl_balsheet(code):
    
    # click Bal Sheet Tab 
    balsheet_tab = driver.find_element_by_css_selector("#rpt_tab2")
    balsheet_tab.click()
    time.sleep(0.8)
    
    # getting the page source and making the soup! 
    html_balsheet = driver.page_source
    soup_balsheet = BeautifulSoup(html_balsheet, 'lxml')
    
    # getting values from "Balance Sheet" 
    total_asset = soup_balsheet.select('#table-content > table > tbody > tr:nth-of-type(1) > td.num')
    lt_debt = soup_balsheet.select('#table-content > table > tbody > tr:nth-of-type(152) > td.num')
    lt_borrowing = soup_balsheet.select('#table-content > table > tbody > tr:nth-of-type(158) > td.num')
    current_asset = soup_balsheet.select('#table-content > table > tbody > tr:nth-of-type(2) > td.num')
    current_liabilities = soup_balsheet.select('#table-content > table > tbody > tr:nth-of-type(110) > td.num')
    shareholder_equity = soup_balsheet.select('#table-content > table > tbody > tr:nth-of-type(188) > td.num')
    stock_issued = soup_balsheet.select('#table-content > table > tbody > tr:nth-of-type(218) > td.num')
    
    # convert string --> float 
    balsheet_vals = list(map(lambda l: [float(i.string.replace(',','')) if i.string != u'\xa0' else float(i.string.replace(u'\xa0','0')) for i in l[0:5]], [total_asset, lt_debt, lt_borrowing, current_asset, current_liabilities, shareholder_equity, stock_issued]))
    
    balsheet_dict = {'total_asset': balsheet_vals[0],
                     'lt_debt': balsheet_vals[1],
                     'lt_borrowing': balsheet_vals[2],
                     'current_asset': balsheet_vals[3],
                     'current_liabilities': balsheet_vals[4],
                     'shareholder_equity': balsheet_vals[5],
                     'stock_issued' : balsheet_vals[6]}
    
    return balsheet_dict

In [25]:
# A function to crawl an income statement 
def crawl_incomestate(code):
    
    # click Income Statement Tab 
    incomestate_tab = driver.find_element_by_css_selector("#rpt_tab1")
    incomestate_tab.click()
    time.sleep(0.8)
    
    # getting the page source and making the soup
    html_incomestate = driver.page_source
    soup_incomestate = BeautifulSoup(html_incomestate, 'lxml') 
    
    # getting values from "Income Statement" 
    operating_income = soup_incomestate.select('#table-content > table > tbody > tr:nth-of-type(59) > td.num')
    extra_income = soup_incomestate.select('#table-content > table > tbody > tr:nth-of-type(144) > td.num')
    total_sales = soup_incomestate.select('#table-content > table > tbody > tr:nth-of-type(1) > td.num')
    gross_profit = soup_incomestate.select('#table-content > table > tbody > tr:nth-of-type(26) > td.num')
    cogs = soup_incomestate.select('#table-content > table > tbody > tr:nth-of-type(15) > td.num')
    
    # convert string --> float 
    incomestate_vals = list(map(lambda l: [float(i.string.replace(',','')) if i.string != u'\xa0' else float(i.string.replace(u'\xa0','0')) for i in l[0:5]], [operating_income, extra_income, total_sales, gross_profit, cogs]))
    
    incomestate_dict = {'operating_income': incomestate_vals[0],
                        'extra_income': incomestate_vals[1],
                        'total_sales': incomestate_vals[2],
                        'gross_profit': incomestate_vals[3],
                        'cogs': incomestate_vals[4]}
    
    return incomestate_dict

In [26]:
# A function to crawl a cash flow 
def crawl_cashflow(code):
    
    # click Cash Flow tab 
    cashflow_tab = driver.find_element_by_css_selector("#rpt_tab3")
    cashflow_tab.click
    time.sleep(0.8)
    
    # getting the page source and making the soup 
    html_cashflow = driver.page_source 
    soup_cashflow = BeautifulSoup(html_cashflow, 'lxml')
    
    # getting values from "Income Statement" 
    cf_operation = soup_cashflow.select('#table-content > table > tbody > tr:nth-of-type(1) > td.num')
    
    # convert string --> float 
    cashflow_vals = list(map(lambda l: [float(i.string.replace(',','')) if i.string != u'\xa0' else float(i.string.replace(u'\xa0', '0')) for i in l[0:5]], [cf_operation]))
    
    cashflow_dict = {'cf_operation': cashflow_vals[0]}
    
    return cashflow_dict

In [27]:
# A function to transform a list to DF 
def merge_n_convert(code, year, fs_dict): 
    dict_individual = {'code': [code]*5,
                       'year': year}
    
    dict_individual.update(fs_dict)
    
    df_individual = pd.DataFrame(dict_individual, columns = ('code', 'm_ics', 'w_ics', 'year', \
                                    'total_asset', 'lt_debt', 'lt_borrowing', 'current_asset', 'current_liabilities', 'shareholder_equity', 'stock_issued', \
                                    'operating_income', 'extra_income', 'total_sales', 'gross_profit', 'cogs', \
                                    'cf_operation'))
    
    return df_individual

In [54]:
# Creating f score DF 
year = ['2012', '2013', '2014', '2015', '2016']
fs_dict = {}
df_fbase = pd.DataFrame(columns = ('code', 'm_ics', 'w_ics', 'year', \
                                    'total_asset', 'lt_debt', 'lt_borrowing', 'current_asset', 'current_liabilities', 'shareholder_equity', 'stock_issued', \
                                    'operating_income', 'extra_income', 'total_sales', 'gross_profit', 'cogs', \
                                    'cf_operation'))
df_fcalc = pd.DataFrame(columns = ('code', 'year', 'cal_roa', 'cal_cfo', 'delta_roa', 'accrual', 'delta_lever', 'delta_liquid', 'eq_offer', 'delta_margin', 'delta_turn'))
df_fscore = pd.DataFrame(columns = ('code', 'year','f_roa', 'f_cfo', 'f_droa', 'f_accrual', 'f_dlever', 'f_dliquid', 'f_equityoffer', 'f_dmargin', 'f_dturnover', 'f_total'))

In [55]:
df_fbase

Empty DataFrame
Columns: [code, m_ics, w_ics, year, total_asset, lt_debt, lt_borrowing, current_asset, current_liabilities, shareholder_equity, stock_issued, operating_income, extra_income, total_sales, gross_profit, cogs, cf_operation]
Index: []

In [56]:
df_fcalc

Empty DataFrame
Columns: [code, year, cal_roa, cal_cfo, delta_roa, accrual, delta_lever, delta_liquid, eq_offer, delta_margin, delta_turn]
Index: []

In [57]:
df_fscore

Empty DataFrame
Columns: [code, year, f_roa, f_cfo, f_droa, f_accrual, f_dlever, f_dliquid, f_equityoffer, f_dmargin, f_dturnover, f_total]
Index: []

In [58]:
# One Big Loop through all company codes
for i in code_n_name.keys(): 
    
    # load the page! 
    driver.get("http://finance.naver.com/item/coinfo.nhn?code={}".format(i))
    time.sleep(random.randrange(2, 8, 1))
    
    # move to the relavent frame
    frame = WebDriverWait(driver, 10).until(EC.frame_to_be_available_and_switch_to_it((By.CSS_SELECTOR, "#coinfo_cp")))
    #driver.switch_to.frame(frame)

    # select to the financial statement tab
    finstate_tab = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR, "#header-menu > div.wrapper-menu > dl > dt:nth-of-type(3) > a")))
    finstate_tab.click()
    
    code = i 
    for d in [crawl_ics(i), crawl_balsheet(i), crawl_incomestate(i), crawl_cashflow(i)]:
        fs_dict.update(d)
    
    df_company = merge_n_convert(i, year, fs_dict)
    
    df_fbase = pd.concat([df_fbase, df_company], ignore_index=True)
    
    print(df_fbase)

     code m_ics      w_ics  year  total_asset   lt_debt  lt_borrowing  \
0  005930  전기전자  반도체와반도체장비  2012    1810715.7  126583.1       35212.6
1  005930  전기전자  반도체와반도체장비  2013    2140750.2  127436.0        9027.2
2  005930  전기전자  반도체와반도체장비  2014    2304229.6  103208.6         239.9
3  005930  전기전자  반도체와반도체장비  2015    2421795.2  126168.1        1936.0
4  005930  전기전자  반도체와반도체장비  2016    2621743.2  145072.0       11791.1

   current_asset  current_liabilities  shareholder_equity  stock_issued  \
0       872690.2             469330.5           1214802.1      170133.0
1      1107602.7             513154.1           1500160.1      170133.0
2      1151460.3             520139.1           1680881.9      170133.0
3      1248147.3             505029.1           1790598.1      170133.0
4      1414297.0             547041.0           1929630.3      161193.0

   operating_income  extra_income  total_sales  gross_profit       cogs  \
0          290493.4        -230.4    2011036.1      744516.8  1266519.3
1          367850.1        8155.0    2286926.7      909963.6  1376963.1
2          250250.7       15416.2    2062059.9      779271.9  1282788.0
3          264134.4      -20374.9    2006534.8      771713.6  1234821.2
4          292406.7        7744.5    2018667.5      815890.3  1202777.2

   cf_operation
0     2011036.1
1     2286926.7
2     2062059.9
3     2006534.8
4     2018667.5
     code m_ics      w_ics  year  total_asset   lt_debt  lt_borrowing  \
0  005930  전기전자  반도체와반도체장비  2012    1810715.7  126583.1       35212.6
1  005930  전기전자  반도체와반도체장비  2013    2140750.2  127436.0        9027.2
2  005930  전기전자  반도체와반도체장비  2014    2304229.6  103208.6         239.9
3  005930  전기전자  반도체와반도체장비  2015    2421795.2  126168.1        1936.0
4  005930  전기전자  반도체와반도체장비  2016    2621743.2  145072.0       11791.1
5  000660  전기전자  반도체와반도체장비  2012     186486.9   44680.7       23018.1
6  000660  전기전자  반도체와반도체장비  2013     207973.0   46522.0       17301.8
7  000660  전기전자  반도체와반도체장비  2014     268832.8   30816.7       12627.7
8  000660  전기전자  반도체와반도체장비  2015     296779.1   34495.1       15120.0
9  000660  전기전자  반도체와반도체장비  2016     322160.3   40316.5       20957.4

   current_asset  current_liabilities  shareholder_equity  stock_issued  \
0       872690.2             469330.5           1214802.1      170133.0
1      1107602.7             513154.1           1500160.1      170133.0
2      1151460.3             520139.1           1680881.9      170133.0
3      1248147.3             505029.1           1790598.1      170133.0
4      1414297.0             547041.0           1929630.3      161193.0
5        53135.7              44411.8             97394.4      694156.0
6        66531.2              30782.4            130668.6      710201.0
7       103635.1              57653.0            180363.0      728002.0
8        97600.3              48407.0            213877.0      728002.0
9        98389.8              41608.5            240235.3      728002.0

   operating_income  extra_income  total_sales  gross_profit       cogs  \
0          290493.4        -230.4    2011036.1      744516.8  1266519.3
1          367850.1        8155.0    2286926.7      909963.6  1376963.1
2          250250.7       15416.2    2062059.9      779271.9  1282788.0
3          264134.4      -20374.9    2006534.8      771713.6  1234821.2
4          292406.7        7744.5    2018667.5      815890.3  1202777.2
5           -2273.5          42.2     101622.1       16112.2    85509.9
6           33797.9       -1373.6     141651.0       53005.2    88645.9
7           51094.7         362.6     171255.7       76638.4    94617.3
8           53361.0       -1084.6     187980.0       82826.5   105153.5
9           32767.5        -516.1     171979.8       64108.4   107871.4

   cf_operation
0     2011036.1
1     2286926.7
2     2062059.9
3     2006534.8
4     2018667.5
5      101622.1
6      141651.0
7      171255.7
8      187980.0
9      171979.8
      code m_ics      w_ics  year  total_asset   lt_debt  lt_borrowing  \
0   005930  전기전자  반도체와반도체장비  2012    1810715.7  126583.1       35212.6
1   005930  전기전자  반도체와반도체장비  2013    2140750.2  127436.0        9027.2
2   005930  전기전자  반도체와반도체장비  2014    2304229.6  103208.6         239.9
3   005930  전기전자  반도체와반도체장비  2015    2421795.2  126168.1        1936.0
4   005930  전기전자  반도체와반도체장비  2016    2621743.2  145072.0       11791.1
5   000660  전기전자  반도체와반도체장비  2012     186486.9   44680.7       23018.1
6   000660  전기전자  반도체와반도체장비  2013     207973.0   46522.0       17301.8
7   000660  전기전자  반도체와반도체장비  2014     268832.8   30816.7       12627.7
8   000660  전기전자  반도체와반도체장비  2015     296779.1   34495.1       15120.0
9   000660  전기전자  반도체와반도체장비  2016     322160.3   40316.5       20957.4
10  005935  전기전자  반도체와반도체장비  2012    1810715.7  126583.1       35212.6
11  005935  전기전자  반도체와반도체장비  2013    2140750.2  127436.0        9027.2
12  005935  전기전자  반도체와반도체장비  2014    2304229.6  103208.6         239.9
13  005935  전기전자  반도체와반도체장비  2015    2421795.2  126168.1        1936.0
14  005935  전기전자  반도체와반도체장비  2016    2621743.2  145072.0       11791.1

    current_asset  current_liabilities  shareholder_equity  stock_issued  \
0        872690.2             469330.5           1214802.1      170133.0
1       1107602.7             513154.1           1500160.1      170133.0
2       1151460.3             520139.1           1680881.9      170133.0
3       1248147.3             505029.1           1790598.1      170133.0
4       1414297.0             547041.0           1929630.3      161193.0
5         53135.7              44411.8             97394.4      694156.0
6         66531.2              30782.4            130668.6      710201.0
7        103635.1              57653.0            180363.0      728002.0
8         97600.3              48407.0            213877.0      728002.0
9         98389.8              41608.5            240235.3      728002.0
10       872690.2             469330.5           1214802.1      170133.0
11      1107602.7             513154.1           1500160.1      170133.0
12      1151460.3             520139.1           1680881.9      170133.0
13      1248147.3             505029.1           1790598.1      170133.0
14      1414297.0             547041.0           1929630.3      161193.0

    operating_income  extra_income  total_sales  gross_profit       cogs  \
0           290493.4        -230.4    2011036.1      744516.8  1266519.3
1           367850.1        8155.0    2286926.7      909963.6  1376963.1
2           250250.7       15416.2    2062059.9      779271.9  1282788.0
3           264134.4      -20374.9    2006534.8      771713.6  1234821.2
4           292406.7        7744.5    2018667.5      815890.3  1202777.2
5            -2273.5          42.2     101622.1       16112.2    85509.9
6            33797.9       -1373.6     141651.0       53005.2    88645.9
7            51094.7         362.6     171255.7       76638.4    94617.3
8            53361.0       -1084.6     187980.0       82826.5   105153.5
9            32767.5        -516.1     171979.8       64108.4   107871.4
10          290493.4        -230.4    2011036.1      744516.8  1266519.3
11          367850.1        8155.0    2286926.7      909963.6  1376963.1
12          250250.7       15416.2    2062059.9      779271.9  1282788.0
13          264134.4      -20374.9    2006534.8      771713.6  1234821.2
14          292406.7        7744.5    2018667.5      815890.3  1202777.2

    cf_operation
0      2011036.1
1      2286926.7
2      2062059.9
3      2006534.8
4      2018667.5
5       101622.1
6       141651.0
7       171255.7
8       187980.0
9       171979.8
10     2011036.1
11     2286926.7
12     2062059.9
13     2006534.8
14     2018667.5
      code m_ics      w_ics  year  total_asset   lt_debt  lt_borrowing  \
0   005930  전기전자  반도체와반도체장비  2012    1810715.7  126583.1       35212.6
1   005930  전기전자  반도체와반도체장비  2013    2140750.2  127436.0        9027.2
2   005930  전기전자  반도체와반도체장비  2014    2304229.6  103208.6         239.9
3   005930  전기전자  반도체와반도체장비  2015    2421795.2  126168.1        1936.0
4   005930  전기전자  반도체와반도체장비  2016    2621743.2  145072.0       11791.1
5   000660  전기전자  반도체와반도체장비  2012     186486.9   44680.7       23018.1
6   000660  전기전자  반도체와반도체장비  2013     207973.0   46522.0       17301.8
7   000660  전기전자  반도체와반도체장비  2014     268832.8   30816.7       12627.7
8   000660  전기전자  반도체와반도체장비  2015     296779.1   34495.1       15120.0
9   000660  전기전자  반도체와반도체장비  2016     322160.3   40316.5       20957.4
10  005935  전기전자  반도체와반도체장비  2012    1810715.7  126583.1       35212.6
11  005935  전기전자  반도체와반도체장비  2013    2140750.2  127436.0        9027.2
12  005935  전기전자  반도체와반도체장비  2014    2304229.6  103208.6         239.9
13  005935  전기전자  반도체와반도체장비  2015    2421795.2  126168.1        1936.0
14  005935  전기전자  반도체와반도체장비  2016    2621743.2  145072.0       11791.1
15  005380  운수장비        자동차  2012    1215378.1  407845.4       41424.7
16  005380  운수장비        자동차  2013    1334214.8  449190.1       46660.3
17  005380  운수장비        자동차  2014    1472251.2  494248.8       74304.3
18  005380  운수장비        자동차  2015    1653679.5  572730.3       85526.2
19  005380  운수장비        자동차  2016    1788359.3  628815.6      133899.8

    current_asset  current_liabilities  shareholder_equity  stock_issued  \
0        872690.2             469330.5           1214802.1      170133.0
1       1107602.7             513154.1           1500160.1      170133.0
2       1151460.3             520139.1           1680881.9      170133.0
3       1248147.3             505029.1           1790598.1      170133.0
4       1414297.0             547041.0           1929630.3      161193.0
5         53135.7              44411.8             97394.4      694156.0
6         66531.2              30782.4            130668.6      710201.0
7        103635.1              57653.0            180363.0      728002.0
8         97600.3              48407.0            213877.0      728002.0
9         98389.8              41608.5            240235.3      728002.0
10       872690.2             469330.5           1214802.1      170133.0
11      1107602.7             513154.1           1500160.1      170133.0
12      1151460.3             520139.1           1680881.9      170133.0
13      1248147.3             505029.1           1790598.1      170133.0
14      1414297.0             547041.0           1929630.3      161193.0
15       339801.2             328357.0            479175.8      285479.0
16       376775.1             319196.8            565827.9      285479.0
17       425271.0             351796.7            626205.7      285479.0
18       437519.3             412135.2            668814.0      285479.0
19       475840.1             436097.9            723445.8      285479.0

    operating_income  extra_income  total_sales  gross_profit       cogs  \
0           290493.4        -230.4    2011036.1      744516.8  1266519.3
1           367850.1        8155.0    2286926.7      909963.6  1376963.1
2           250250.7       15416.2    2062059.9      779271.9  1282788.0
3           264134.4      -20374.9    2006534.8      771713.6  1234821.2
4           292406.7        7744.5    2018667.5      815890.3  1202777.2
5            -2273.5          42.2     101622.1       16112.2    85509.9
6            33797.9       -1373.6     141651.0       53005.2    88645.9
7            51094.7         362.6     171255.7       76638.4    94617.3
8            53361.0       -1084.6     187980.0       82826.5   105153.5
9            32767.5        -516.1     171979.8       64108.4   107871.4
10          290493.4        -230.4    2011036.1      744516.8  1266519.3
11          367850.1        8155.0    2286926.7      909963.6  1376963.1
12          250250.7       15416.2    2062059.9      779271.9  1282788.0
13          264134.4      -20374.9    2006534.8      771713.6  1234821.2
14          292406.7        7744.5    2018667.5      815890.3  1202777.2
15           84406.0        2430.2     844697.2      195024.5   649672.7
16           83155.0         715.5     873076.4      194481.5   678594.9
17           75499.9       -2682.3     892563.2      191300.4   701262.8
18           63579.1         528.7     919587.4      182574.4   737013.0
19           51935.0        -490.8     936490.2      176893.0   759597.2

    cf_operation
0      2011036.1
1      2286926.7
2      2062059.9
3      2006534.8
4      2018667.5
5       101622.1
6       141651.0
7       171255.7
8       187980.0
9       171979.8
10     2011036.1
11     2286926.7
12     2062059.9
13     2006534.8
14     2018667.5
15      844697.2
16      873076.4
17      892563.2
18      919587.4
19      936490.2

      code m_ics      w_ics  year  total_asset   lt_debt  lt_borrowing  \
0   005930  전기전자  반도체와반도체장비  2012    1810715.7  126583.1       35212.6
1   005930  전기전자  반도체와반도체장비  2013    2140750.2  127436.0        9027.2
2   005930  전기전자  반도체와반도체장비  2014    2304229.6  103208.6         239.9
3   005930  전기전자  반도체와반도체장비  2015    2421795.2  126168.1        1936.0
4   005930  전기전자  반도체와반도체장비  2016    2621743.2  145072.0       11791.1
5   000660  전기전자  반도체와반도체장비  2012     186486.9   44680.7       23018.1
6   000660  전기전자  반도체와반도체장비  2013     207973.0   46522.0       17301.8
7   000660  전기전자  반도체와반도체장비  2014     268832.8   30816.7       12627.7
8   000660  전기전자  반도체와반도체장비  2015     296779.1   34495.1       15120.0
9   000660  전기전자  반도체와반도체장비  2016     322160.3   40316.5       20957.4
10  005935  전기전자  반도체와반도체장비  2012    1810715.7  126583.1       35212.6
11  005935  전기전자  반도체와반도체장비  2013    2140750.2  127436.0        9027.2
12  005935  전기전자  반도체와반도체장비  2014    2304229.6  103208.6         239.9
13  005935  전기전자  반도체와반도체장비  2015    2421795.2  126168.1        1936.0
14  005935  전기전자  반도체와반도체장비  2016    2621743.2  145072.0       11791.1
15  005380  운수장비        자동차  2012    1215378.1  407845.4       41424.7
16  005380  운수장비        자동차  2013    1334214.8  449190.1       46660.3
17  005380  운수장비        자동차  2014    1472251.2  494248.8       74304.3
18  005380  운수장비        자동차  2015    1653679.5  572730.3       85526.2
19  005380  운수장비        자동차  2016    1788359.3  628815.6      133899.8
20  005490  철강금속         철강  2012     792658.5  170614.3       51194.3
21  005490  철강금속         철강  2013     844554.1  183922.2       69747.7
22  005490  철강금속         철강  2014     852521.7  180838.0       72504.5
23  005490  철강금속         철강  2015     804087.6  152076.1       67381.3
24  005490  철강금속         철강  2016     797629.9  150092.0       63648.1

    current_asset  current_liabilities  shareholder_equity  stock_issued  \
0        872690.2             469330.5           1214802.1      170133.0
1       1107602.7             513154.1           1500160.1      170133.0
2       1151460.3             520139.1           1680881.9      170133.0
3       1248147.3             505029.1           1790598.1      170133.0
4       1414297.0             547041.0           1929630.3      161193.0
5         53135.7              44411.8             97394.4      694156.0
6         66531.2              30782.4            130668.6      710201.0
7        103635.1              57653.0            180363.0      728002.0
8         97600.3              48407.0            213877.0      728002.0
9         98389.8              41608.5            240235.3      728002.0
10       872690.2             469330.5           1214802.1      170133.0
11      1107602.7             513154.1           1500160.1      170133.0
12      1151460.3             520139.1           1680881.9      170133.0
13      1248147.3             505029.1           1790598.1      170133.0
14      1414297.0             547041.0           1929630.3      161193.0
15       339801.2             328357.0            479175.8      285479.0
16       376775.1             319196.8            565827.9      285479.0
17       425271.0             351796.7            626205.7      285479.0
18       437519.3             412135.2            668814.0      285479.0
19       475840.1             436097.9            723445.8      285479.0
20       315661.2             197750.0            424294.2       87187.0
21       316662.1             202411.6            458220.3       87187.0
22       326273.8             218770.1            452913.6       87187.0
23       291808.9             201309.3            450702.2       87187.0
24       293038.3             189154.0            458383.9       87187.0

    operating_income  extra_income  total_sales  gross_profit       cogs  \
0           290493.4        -230.4    2011036.1      744516.8  1266519.3
1           367850.1        8155.0    2286926.7      909963.6  1376963.1
2           250250.7       15416.2    2062059.9      779271.9  1282788.0
3           264134.4      -20374.9    2006534.8      771713.6  1234821.2
4           292406.7        7744.5    2018667.5      815890.3  1202777.2
5            -2273.5          42.2     101622.1       16112.2    85509.9
6            33797.9       -1373.6     141651.0       53005.2    88645.9
7            51094.7         362.6     171255.7       76638.4    94617.3
8            53361.0       -1084.6     187980.0       82826.5   105153.5
9            32767.5        -516.1     171979.8       64108.4   107871.4
10          290493.4        -230.4    2011036.1      744516.8  1266519.3
11          367850.1        8155.0    2286926.7      909963.6  1376963.1
12          250250.7       15416.2    2062059.9      779271.9  1282788.0
13          264134.4      -20374.9    2006534.8      771713.6  1234821.2
14          292406.7        7744.5    2018667.5      815890.3  1202777.2
15           84406.0        2430.2     844697.2      195024.5   649672.7
16           83155.0         715.5     873076.4      194481.5   678594.9
17           75499.9       -2682.3     892563.2      191300.4   701262.8
18           63579.1         528.7     919587.4      182574.4   737013.0
19           51935.0        -490.8     936490.2      176893.0   759597.2
20           36531.1       -3613.4     636041.5       74612.6   561428.9
21           29961.3       -4217.3     618646.5       68600.6   550045.9
22           32135.3       -7102.7     650984.5       72834.0   578150.4
23           24100.4       -8932.5     581923.4       65342.5   516581.0
24           28443.2       -5405.8     530835.1       66895.5   463939.6

    cf_operation
0      2011036.1
1      2286926.7
2      2062059.9
3      2006534.8
4      2018667.5
5       101622.1
6       141651.0
7       171255.7
8       187980.0
9       171979.8
10     2011036.1
11     2286926.7
12     2062059.9
13     2006534.8
14     2018667.5
15      844697.2
16      873076.4
17      892563.2
18      919587.4
19      936490.2
20      636041.5
21      618646.5
22      650984.5
23      581923.4
24      530835.1

In [59]:
# Cleaning up DataFrame for calculation 
# Lagged total asset
df_fbase.l_total_asset = df_fbase.total_asset.shift(1)
df_fbase.l_total_asset = df_fbase.l_total_asset.where(df_fbase.year != "2012")

# Average total asset - "rolling" 
df_fbase.avg_total_asset = df_fbase.total_asset.where(df_fbase.year != "2012").rolling(2).mean()

In [71]:
# Calculating relavent values for df_fcalc
df_fcalc.code = df_fbase.code
df_fcalc.year = df_fbase.year

df_fcalc.cal_roa = df_fbase.operating_income / df_fbase.l_total_asset
df_fcalc.cal_cfo = df_fbase.cf_operation / df_fbase.l_total_asset
df_fcalc.delta_roa = df_fcalc.cal_roa.diff()
df_fcalc.accrual = df_fcalc.cal_roa - df_fcalc.cal_cfo 

df_fcalc.lever = df_fbase.lt_debt / df_fbase.avg_total_asset
df_fcalc.delta_lever = df_fcalc.lever.diff()
df_fcalc.delta_liquid = df_fbase.current_asset.where(df_fbase.year != '2012') / df_fbase.current_liabilities.where(df_fbase.year != '2012') 
df_fcalc.eq_offer = df_fbase.stock_issued.where(df_fbase.year != '2012').diff()

df_fcalc.gmo = df_fbase.gross_profit.where(df_fbase.year != '2012') / df_fbase.total_sales.where(df_fbase.year != '2012')
df_fcalc.delta_margin = df_fcalc.gmo.diff()
df_fcalc.atr = df_fbase.total_sales / df_fbase.l_total_asset
df_fcalc.delta_turn = df_fcalc.atr.diff()

In [72]:
df_fcalc

,code,year,cal_roa,cal_cfo,delta_roa,accrual,delta_lever,delta_liquid,eq_offer,delta_margin,delta_turn
0,005930,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,005930,2013,0.203152,1.262996,NaN,-1.059844,NaN,2.158421,NaN,NaN,NaN
2,005930,2014,0.116899,0.963242,-0.086253,-0.846343,NaN,2.213755,0.0,-0.019989,-0.299754
3,005930,2015,0.114630,0.870805,-0.002268,-0.756175,0.006955,2.471436,0.0,0.006691,-0.092437
4,005930,2016,0.120740,0.833542,0.006109,-0.712802,0.004135,2.585358,-8940.0,0.019573,-0.037263
5,000660,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,000660,2013,0.181235,0.759576,NaN,-0.578341,NaN,2.161339,NaN,NaN,NaN
7,000660,2014,0.245679,0.823452,0.064445,-0.577772,NaN,1.797566,17801.0,0.073313,0.063875
8,000660,2015,0.198491,0.699245,-0.047188,-0.500754,-0.007289,2.016244,0.0,-0.006895,-0.124207
9,000660,2016,0.110410,0.579488,-0.088081,-0.469077,0.008302,2.364656,0.0,-0.067846,-0.119757
10,005935,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,005935,2013,0.203152,1.262996,NaN,-1.059844,NaN,2.158421,NaN,NaN,NaN
12,005935,2014,0.116899,0.963242,-0.086253,-0.846343,NaN,2.213755,0.0,-0.019989,-0.299754
13,005935,2015,0.114630,0.870805,-0.002268,-0.756175,0.006955,2.471436,0.0,0.006691,-0.092437
14,005935,2016,0.120740,0.833542,0.006109,-0.712802,0.004135,2.585358,-8940.0,0.019573,-0.037263
15,005380,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,005380,2013,0.068419,0.718358,NaN,-0.649939,NaN,1.180385,NaN,NaN,NaN
17,005380,2014,0.056588,0.668980,-0.011832,-0.612393,NaN,1.208854,0.0,-0.008427,-0.049378
18,005380,2015,0.043185,0.624613,-0.013403,-0.581428,0.014217,1.061592,0.0,-0.015788,-0.044367
19,005380,2016,0.031406,0.566307,-0.011779,-0.534901,-0.001064,1.091131,0.0,-0.009650,-0.058306
20,005490,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,005490,2013,0.037798,0.780470,NaN,-0.742672,NaN,1.564446,NaN,NaN,NaN
22,005490,2014,0.038050,0.770803,0.000252,-0.732753,NaN,1.491400,0.0,0.000995,-0.009668
23,005490,2015,0.028270,0.682591,-0.009780,-0.654321,-0.029518,1.449555,0.0,0.000404,-0.088212
24,005490,2016,0.035373,0.660171,0.007104,-0.624797,0.003815,1.549205,0.0,0.013732,-0.022420

In [73]:
df_fscore

,code,year,f_roa,f_cfo,f_droa,f_accrual,f_dlever,f_dliquid,f_equityoffer,f_dmargin,f_dturnover,f_total
0,NaN,NaN,NaN,0,0,0,0,0,1,0,NaN,1.0
1,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
2,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
3,NaN,NaN,NaN,1,0,1,0,1,1,1,NaN,5.0
4,NaN,NaN,NaN,1,1,1,0,1,1,1,NaN,6.0
5,NaN,NaN,NaN,0,0,0,0,0,1,0,NaN,1.0
6,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
7,NaN,NaN,NaN,1,1,1,0,1,0,1,NaN,5.0
8,NaN,NaN,NaN,1,0,1,1,1,1,0,NaN,5.0
9,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
10,NaN,NaN,NaN,0,0,0,0,0,1,0,NaN,1.0
11,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
12,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
13,NaN,NaN,NaN,1,0,1,0,1,1,1,NaN,5.0
14,NaN,NaN,NaN,1,1,1,0,1,1,1,NaN,6.0
15,NaN,NaN,NaN,0,0,0,0,0,1,0,NaN,1.0
16,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
17,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
18,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
19,NaN,NaN,NaN,1,0,1,1,1,1,0,NaN,5.0
20,NaN,NaN,NaN,0,0,0,0,0,1,0,NaN,1.0
21,NaN,NaN,NaN,1,0,1,0,1,1,0,NaN,4.0
22,NaN,NaN,NaN,1,1,1,0,1,1,1,NaN,6.0
23,NaN,NaN,NaN,1,0,1,1,1,1,1,NaN,6.0
24,NaN,NaN,NaN,1,1,1,0,1,1,1,NaN,6.0

In [77]:
# code & year 
df_fscore.code = df_fbase.code 
df_fscore.year = df_fbase.year

# ROA and its f-score in DataFrame
df_fscore.f_roa = np.where(df_fcalc.cal_roa > 0, 1, 0)

# CFO and its f-score in DataFrame
df_fscore.f_cfo = np.where(df_fcalc.cal_cfo > 0, 1, 0)

# delta ROA and its f-score in DataFrame 
df_fscore.f_droa = np.where(df_fcalc.delta_roa > 0, 1, 0)

# accrual and its f-score
df_fscore.f_accrual = np.where(df_fcalc.accrual < 0, 1, 0)

# delta_leverage and its f-score
df_fscore.f_dlever = np.where(df_fcalc.delta_lever < 0, 1, 0)

# delta_liquidity and its f-score
df_fscore.f_dliquid = np.where(df_fcalc.delta_liquid > 0, 1, 0) 

# equity offer and its f-score
df_fscore.f_equityoffer = np.where(df_fcalc.eq_offer > 0, 0, 1)

# delta_margin and its f-score
df_fscore.f_dmargin = np.where(df_fcalc.delta_margin > 0, 1, 0)

# delta_turnover and its f-score
df_fscore.f_dturnover = np.where(df_fcalc.delta_turn > 0, 1, 0)

# total f-score
df_fscore.f_total = df_fscore.f_roa + df_fscore.f_cfo + df_fscore.f_droa + df_fscore.f_accrual + df_fscore.f_dlever + df_fscore.f_dliquid + df_fscore.f_equityoffer + df_fscore.f_dmargin + df_fscore.f_dturnover

In [78]:
df_fscore

,code,year,f_roa,f_cfo,f_droa,f_accrual,f_dlever,f_dliquid,f_equityoffer,f_dmargin,f_dturnover,f_total
0,005930,2012,0,0,0,0,0,0,1,0,0,1
1,005930,2013,1,1,0,1,0,1,1,0,0,5
2,005930,2014,1,1,0,1,0,1,1,0,0,5
3,005930,2015,1,1,0,1,0,1,1,1,0,6
4,005930,2016,1,1,1,1,0,1,1,1,0,7
5,000660,2012,0,0,0,0,0,0,1,0,0,1
6,000660,2013,1,1,0,1,0,1,1,0,0,5
7,000660,2014,1,1,1,1,0,1,0,1,1,7
8,000660,2015,1,1,0,1,1,1,1,0,0,6
9,000660,2016,1,1,0,1,0,1,1,0,0,5
10,005935,2012,0,0,0,0,0,0,1,0,0,1
11,005935,2013,1,1,0,1,0,1,1,0,0,5
12,005935,2014,1,1,0,1,0,1,1,0,0,5
13,005935,2015,1,1,0,1,0,1,1,1,0,6
14,005935,2016,1,1,1,1,0,1,1,1,0,7
15,005380,2012,0,0,0,0,0,0,1,0,0,1
16,005380,2013,1,1,0,1,0,1,1,0,0,5
17,005380,2014,1,1,0,1,0,1,1,0,0,5
18,005380,2015,1,1,0,1,0,1,1,0,0,5
19,005380,2016,1,1,0,1,1,1,1,0,0,6
20,005490,2012,0,0,0,0,0,0,1,0,0,1
21,005490,2013,1,1,0,1,0,1,1,0,0,5
22,005490,2014,1,1,1,1,0,1,1,1,0,7
23,005490,2015,1,1,0,1,1,1,1,1,0,7
24,005490,2016,1,1,1,1,0,1,1,1,0,7