In [5]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

import pandas as pd
import numpy as np

In [2]:
a = [[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2], [126583.1, 127436.0, 103208.6, 126168.1, 145072.0], [35212.6, 9027.2, 239.9, 1936.0, 11791.1], [872690.2, 1107602.7, 1151460.3, 1248147.3, 1414297.0], [469330.5, 513154.1, 520139.1, 505029.1, 547041.0], [1214802.1, 1500160.1, 1680881.9, 1790598.1, 1929630.3]]

In [3]:
a

[[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2],
 [126583.1, 127436.0, 103208.6, 126168.1, 145072.0],
 [35212.6, 9027.2, 239.9, 1936.0, 11791.1],
 [872690.2, 1107602.7, 1151460.3, 1248147.3, 1414297.0],
 [469330.5, 513154.1, 520139.1, 505029.1, 547041.0],
 [1214802.1, 1500160.1, 1680881.9, 1790598.1, 1929630.3]]

In [4]:
b = [[290493.4, 367850.1, 250250.7, 264134.4, 292406.7], [-230.4, 8155.0, 15416.2, -20374.9, 7744.5], [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5], [744516.8, 909963.6, 779271.9, 771713.6, 815890.3], [1266519.3, 1376963.1, 1282788.0, 1234821.2, 1202777.2]]
c = [[2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5]]

In [5]:
b

[[290493.4, 367850.1, 250250.7, 264134.4, 292406.7],
 [-230.4, 8155.0, 15416.2, -20374.9, 7744.5],
 [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5],
 [744516.8, 909963.6, 779271.9, 771713.6, 815890.3],
 [1266519.3, 1376963.1, 1282788.0, 1234821.2, 1202777.2]]

In [6]:
c

[[2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5]]

In [7]:
code = '005360'

In [8]:
year = ['2012', '2013', '2014', '2015', '2016']

In [9]:
a[0][0]

1810715.7

In [10]:
for i in a: 
    print(i)

[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2]
[126583.1, 127436.0, 103208.6, 126168.1, 145072.0]
[35212.6, 9027.2, 239.9, 1936.0, 11791.1]
[872690.2, 1107602.7, 1151460.3, 1248147.3, 1414297.0]
[469330.5, 513154.1, 520139.1, 505029.1, 547041.0]
[1214802.1, 1500160.1, 1680881.9, 1790598.1, 1929630.3]

In [11]:
df = pd.DataFrame(columns = ('a', 'b', 'c'))

In [12]:
df

Empty DataFrame
Columns: [a, b, c]
Index: []

In [13]:
[code]*5

['005360', '005360', '005360', '005360', '005360']

In [14]:
d = a.append(b)

In [15]:
a

[[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2],
 [126583.1, 127436.0, 103208.6, 126168.1, 145072.0],
 [35212.6, 9027.2, 239.9, 1936.0, 11791.1],
 [872690.2, 1107602.7, 1151460.3, 1248147.3, 1414297.0],
 [469330.5, 513154.1, 520139.1, 505029.1, 547041.0],
 [1214802.1, 1500160.1, 1680881.9, 1790598.1, 1929630.3],
 [[290493.4, 367850.1, 250250.7, 264134.4, 292406.7],
  [-230.4, 8155.0, 15416.2, -20374.9, 7744.5],
  [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5],
  [744516.8, 909963.6, 779271.9, 771713.6, 815890.3],
  [1266519.3, 1376963.1, 1282788.0, 1234821.2, 1202777.2]]]

In [16]:
a + b

[[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2],
 [126583.1, 127436.0, 103208.6, 126168.1, 145072.0],
 [35212.6, 9027.2, 239.9, 1936.0, 11791.1],
 [872690.2, 1107602.7, 1151460.3, 1248147.3, 1414297.0],
 [469330.5, 513154.1, 520139.1, 505029.1, 547041.0],
 [1214802.1, 1500160.1, 1680881.9, 1790598.1, 1929630.3],
 [[290493.4, 367850.1, 250250.7, 264134.4, 292406.7],
  [-230.4, 8155.0, 15416.2, -20374.9, 7744.5],
  [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5],
  [744516.8, 909963.6, 779271.9, 771713.6, 815890.3],
  [1266519.3, 1376963.1, 1282788.0, 1234821.2, 1202777.2]],
 [290493.4, 367850.1, 250250.7, 264134.4, 292406.7],
 [-230.4, 8155.0, 15416.2, -20374.9, 7744.5],
 [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5],
 [744516.8, 909963.6, 779271.9, 771713.6, 815890.3],
 [1266519.3, 1376963.1, 1282788.0, 1234821.2, 1202777.2]]

In [17]:
vals = [[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2], [126583.1, 127436.0, 103208.6, 126168.1, 145072.0], [35212.6, 9027.2, 239.9, 1936.0, 11791.1], [872690.2, 1107602.7, 1151460.3, 1248147.3, 1414297.0], [469330.5, 513154.1, 520139.1, 505029.1, 547041.0], [1214802.1, 1500160.1, 1680881.9, 1790598.1, 1929630.3], [290493.4, 367850.1, 250250.7, 264134.4, 292406.7], [-230.4, 8155.0, 15416.2, -20374.9, 7744.5], [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5], [744516.8, 909963.6, 779271.9, 771713.6, 815890.3], [1266519.3, 1376963.1, 1282788.0, 1234821.2, 1202777.2], [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5]]

In [18]:
vals

[[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2],
 [126583.1, 127436.0, 103208.6, 126168.1, 145072.0],
 [35212.6, 9027.2, 239.9, 1936.0, 11791.1],
 [872690.2, 1107602.7, 1151460.3, 1248147.3, 1414297.0],
 [469330.5, 513154.1, 520139.1, 505029.1, 547041.0],
 [1214802.1, 1500160.1, 1680881.9, 1790598.1, 1929630.3],
 [290493.4, 367850.1, 250250.7, 264134.4, 292406.7],
 [-230.4, 8155.0, 15416.2, -20374.9, 7744.5],
 [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5],
 [744516.8, 909963.6, 779271.9, 771713.6, 815890.3],
 [1266519.3, 1376963.1, 1282788.0, 1234821.2, 1202777.2],
 [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5]]

In [19]:
code = '005930'
year = ['2012', '2013', '2014', '2015', '2016']

In [20]:
df1 = pd.DataFrame(columns = ('code', 'm_ics', 'w_ics', 'year', \
                              'total_asset', 'lt_debt', 'lt_borrowing', 'current_asset', 'current_liabilities', 'shareholder_equity', \
                              'operating_profit', 'extra_income', 'total_sales', 'gross_profit', 'cogs', \
                              'cf_operation', \
                              'f_roa', 'f_cfo', 'f_droa', 'f_accrual', 'f_accrual', 'f_dlever', 'f_dliquid', 'f_equityoffer', 'f_dmargin', 'f_dturnover', 'f_total'))

In [21]:
df_individual = pd.DataFrame([list(code)*5, year, vals[0], vals[1], vals[2], vals[3], vals[4], vals[5], vals[6], vals[7], vals[8]], \
                                  columns = ('code', 'year', 'total_asset', 'lt_debt', 'lt_borrowing', 'current_asset', 'current_liabilities', 'shareholder_equity', 'operating_profit', 'extra_income', 'total_sales', 'gross_profit', 'cogs', 'cf_operation'))

AssertionError: 14 columns passed, passed data had 30 columns

In [31]:
vals[0]

[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2]

In [33]:
df2 = pd.DataFrame(columns = ('code', 'year', 'total_asset', 'lt_debt', 'lt_borrowing', 'current_asset', 'current_liabilities', 'shareholder_equity', 'operating_profit', 'extra_income', 'total_sales', 'gross_profit', 'cogs', 'cf_operation'))

In [34]:
df2['code'] = [code]*5

In [35]:
df2['total_asset'] = vals[0]

In [36]:
df2

,code,year,total_asset,lt_debt,lt_borrowing,current_asset,current_liabilities,shareholder_equity,operating_profit,extra_income,total_sales,gross_profit,cogs,cf_operation
0,005930,NaN,1810715.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,005930,NaN,2140750.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,005930,NaN,2304229.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,005930,NaN,2421795.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,005930,NaN,2621743.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
a = [[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2], [126583.1, 127436.0, 103208.6, 126168.1, 145072.0], [35212.6, 9027.2, 239.9, 1936.0, 11791.1], [872690.2, 1107602.7, 1151460.3, 1248147.3, 1414297.0], [469330.5, 513154.1, 520139.1, 505029.1, 547041.0], [1214802.1, 1500160.1, 1680881.9, 1790598.1, 1929630.3], [290493.4, 367850.1, 250250.7, 264134.4, 292406.7], [-230.4, 8155.0, 15416.2, -20374.9, 7744.5], [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5], [744516.8, 909963.6, 779271.9, 771713.6, 815890.3], [1266519.3, 1376963.1, 1282788.0, 1234821.2, 1202777.2], [2011036.1, 2286926.7, 2062059.9, 2006534.8, 2018667.5]]

In [23]:
len(a)

12

In [24]:
vals[0]

[1810715.7, 2140750.2, 2304229.6, 2421795.2, 2621743.2]

In [6]:
code = '005630'
test = {'code': [code]*5,}

In [7]:
test

{'code': ['005630', '005630', '005630', '005630', '005630']}

In [9]:
d1 = {1:2, 3:4}
d2 = {5:6, 7:8}
d3 = {9:10, 11:12}

In [10]:
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [2]:
ics = {'m_ics': '전기', 'w_ics': '전기'}

In [4]:
['전기']*5

['전기', '전기', '전기', '전기', '전기']

In [6]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})

In [7]:
df.A

0       one
1       one
2       two
3     three
4       one
5       one
6       two
7     three
8       one
9       one
10      two
11    three
Name: A, dtype: object

In [8]:
df['A']

0       one
1       one
2       two
3     three
4       one
5       one
6       two
7     three
8       one
9       one
10      two
11    three
Name: A, dtype: object

In [9]:
df['A'].shift(1)

0       NaN
1       one
2       one
3       two
4     three
5       one
6       one
7       two
8     three
9       one
10      one
11      two
Name: A, dtype: object